<kt-portlet>
	<kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'"
		[viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10" mat-raised-button
			   matTooltip="Back to the products list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<!--<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
		<i class="la la-cog"></i>
		<span class="kt-hidden-mobile">Reset</span>
	</a>-->
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)"
			   mat-raised-button matTooltip="Save & Continue">
				<i class="la la-save"></i>
				<span class="kt-hidden-mobile">Save</span>
			</a>

			<a *ngIf="invoice && invoice.isProforma" href="javascript:;" class="btn btn-secondary kt-margin-r-10"
			   (click)="invoiceEmission()" mat-raised-button matTooltip="Confirm Invoice Emission">
				<i class="la la-mail-forward"></i>
				<span class="kt-hidden-mobile">Confirm Invoice Emission</span>
			</a>

			<a *ngIf="invoice && !invoice.isProforma" href="javascript:;" class="btn btn-secondary btn-warning kt-margin-r-10"
			    [routerLink]="['/invoice-management/invoices/view/', invoice.id]" matTooltip="View invoice" mat-raised-button>
				<mat-icon>remove_red_eye</mat-icon>
				<span class="kt-hidden-mobile">View Invoice</span>
			</a>

			<!--<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
		<mat-icon>more_vert</mat-icon>
	</button>-->
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
				<!--<button mat-menu-item color="primary">Save & Duplicate</button>-->
				<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>
	<mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="tabChanged($event)">
		<mat-tab label="Invoice Info">
			<ng-template matTabContent>
				<kt-portlet-body class="pt-0">
					<div *ngIf="invoiceForm">

						<form [formGroup]="invoiceForm" class="kt-form kt-form--group-seperator-dashed">

							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
								(close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>

							<div class="kt-form__section kt-form__section--first">
								<div class="kt-form__group pt-1">
									<div class="form-group kt-form__group row" *ngIf="invoice.id">

										<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
											<label>Created : </label> {{invoice.createDate | date:'dd/MM/yyyy'}}
										</div>
										<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
											<label>Last Changed : </label> {{invoice.updateDate | date:'dd/MM/yyyy'}}
										</div>
										<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
											<label class="pr-2">Assigned To : </label> <span
												class="text-capitalize">{{invoice.assignedTo}}</span>
										</div>

									</div>

									<div class="row">
										<div class="col-md-12 heading-wrapper mt-0">
											<div class="title-wrapper">
												<h5>Personal Information</h5>
											</div>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Subject" #subject
													formControlName="subject">
												<button mat-button *ngIf="subject.value" matSuffix mat-icon-button
													aria-label="Clear"
													(click)="invoiceForm.get('subject').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Subject is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong class="required-star">Subject</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Invoice number" #invoiceNumber
													formControlName="invoiceNumber">
												<button mat-button *ngIf="invoiceNumber.value" matSuffix mat-icon-button
													aria-label="Clear"
													(click)="invoiceForm.get('invoiceNumber').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Invoice Number is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong class="required-star">Invoice Number</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text" placeholder="Customer Name" aria-label="Number"
													matInput #customerId [matAutocomplete]="customerIdAuto"
													[formControlName]="'customerId'" readonly="readonly">
												<button mat-button *ngIf="customerId.value" matSuffix mat-icon-button
													aria-label="Clear"
													(click)="invoiceForm.get('customerId').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-autocomplete autoActiveFirstOption
													#customerIdAuto="matAutocomplete" [displayWith]="displayFn">
													<mat-option *ngFor="let t of filteredCustomers | async" [value]="t">
														{{t.value}}
													</mat-option>
												</mat-autocomplete>
												<mat-hint align="start">
													<strong class="required-star">Customer Name</strong>
												</mat-hint>
												<mat-error>
													Customer Name is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text" placeholder="Invoice entity" aria-label="Number"
													matInput #invoiceEntityId [matAutocomplete]="invocingEntityAuto"
													[formControlName]="'invoiceEntityId'"
													(focusout)="controlFocusout('invoiceEntityId')">
												<button mat-button *ngIf="invoiceEntityId.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('invoiceEntityId').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-autocomplete autoActiveFirstOption
													#invocingEntityAuto="matAutocomplete" [displayWith]="displayFn">
													<mat-option *ngFor="let t of filteredInvoiceEntities | async"
														[value]="t">
														{{t.value}}
													</mat-option>
												</mat-autocomplete>
												<mat-hint align="start">
													<strong>Invoice Entity </strong>
												</mat-hint>
												<mat-error>
													Invoice Entity is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput [matDatepicker]="patientDateOfBirthPicker"
													#patientDateOfBirth placeholder="Patient date of birth"
													[formControlName]="'patientDateOfBirth'">
												<button mat-button *ngIf="patientDateOfBirth.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('patientDateOfBirth').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-datepicker-toggle matSuffix [for]="patientDateOfBirthPicker">
												</mat-datepicker-toggle>
												<mat-datepicker #patientDateOfBirthPicker></mat-datepicker>
												<mat-error>
													Patient Date of birth
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Patient Date of Birth</strong>
												</mat-hint>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<mat-select [formControlName]="'statusId'">
													<mat-option *ngFor="let val of invoiceStatusOptions"
														[value]="val.id">
														{{ val.value }}
													</mat-option>
												</mat-select>
												<mat-hint align="start">
													<strong class="required-star"> Invoice Status </strong>
												</mat-hint>
												<mat-error>
													Invoice Status is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput [matDatepicker]="dueDatePicker" #dueDate
													placeholder="Due date" [formControlName]="'dueDate'">
												<button mat-button *ngIf="dueDate.value" matSuffix mat-icon-button
													aria-label="Clear"
													(click)="invoiceForm.get('dueDate').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-datepicker-toggle matSuffix [for]="dueDatePicker">
												</mat-datepicker-toggle>
												<mat-datepicker #dueDatePicker></mat-datepicker>
												<mat-error>
													Due Date is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong class="required-star">Due Date</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput [matDatepicker]="invoiceDatePicker" #invoiceDate
													placeholder="Invoice date" [formControlName]="'invoiceDate'">
												<button mat-button *ngIf="invoiceDate.value" matSuffix mat-icon-button
													aria-label="Clear"
													(click)="invoiceForm.get('invoiceDate').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-datepicker-toggle matSuffix [for]="invoiceDatePicker">
												</mat-datepicker-toggle>
												<mat-datepicker #invoiceDatePicker></mat-datepicker>
												<mat-error>
													Invoice Date is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong class="required-star">Invoice Date</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput [matDatepicker]="invoiceDeliveryDatePicker"
													#invoiceDeliveryDate placeholder="Delivery date"
													[formControlName]="'invoiceDeliveryDate'">
												<button mat-button *ngIf="invoiceDeliveryDate.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('invoiceDeliveryDate').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-datepicker-toggle matSuffix [for]="invoiceDeliveryDatePicker">
												</mat-datepicker-toggle>
												<mat-datepicker #invoiceDeliveryDatePicker></mat-datepicker>
												<mat-error>
													Delivery Date is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>Delivery Date</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div>Invoice Sent By Email:</div>
											<mat-radio-group formControlName="invoiceSentByEmailId">
												<mat-radio-button class="example-radio-button" value="0">No
												</mat-radio-button>
												<mat-radio-button class="example-radio-button" value="1">Yes
												</mat-radio-button>
											</mat-radio-group>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div>Invoice Sent By Mail:</div>
											<mat-radio-group formControlName="invoiceSentByMailId">
												<mat-radio-button class="example-radio-button" value="0">No
												</mat-radio-button>
												<mat-radio-button class="example-radio-button" value="1">Yes
												</mat-radio-button>
											</mat-radio-group>
										</div>

									</div>


									<div class="row">
										<div class="col-md-12 heading-wrapper mt-4">
											<div class="title-wrapper">
												<h5>Billing Address</h5>
											</div>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Billing address street name"
													#ieBillingAddress formControlName="ieBillingAddress">
												<button mat-button *ngIf="ieBillingAddress.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('ieBillingAddress').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Billing Address Street Name is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong class="required-star">Billing Address Street Name</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Billing post code" #ieBillingPostCode
													formControlName="ieBillingPostCode">
												<button mat-button *ngIf="ieBillingPostCode.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('ieBillingPostCode').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Billing Post Code is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Billing Post Code</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text" placeholder="Billing city/town" aria-label="Number"
													matInput #ieBillingCityId [matAutocomplete]="ieBillingCityAuto"
													[formControlName]="'ieBillingCityId'"
													(focusout)="controlFocusout('ieBillingCityId')">
												<button mat-button *ngIf="ieBillingCityId.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('ieBillingCityId').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-autocomplete autoActiveFirstOption
													#ieBillingCityAuto="matAutocomplete" [displayWith]="displayFn">
													<mat-option *ngFor="let t of filteredBillingCities | async"
														[value]="t">
														{{t.value}}
													</mat-option>
												</mat-autocomplete>
												<mat-hint align="start">
													<strong>Billing City/Town </strong>
												</mat-hint>
												<mat-error>
													Billing City/Town is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text" placeholder="Billing country" aria-label="Number"
													matInput #ieBillingCountryId
													[matAutocomplete]="ieBillingCountryAuto"
													[formControlName]="'ieBillingCountryId'"
													(focusout)="controlFocusout('ieBillingCountryId')">
												<button mat-button *ngIf="ieBillingCountryId.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('ieBillingCountryId').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-autocomplete autoActiveFirstOption
													#ieBillingCountryAuto="matAutocomplete" [displayWith]="displayFn">
													<mat-option *ngFor="let t of filteredBillingCountries | async"
														[value]="t">
														{{t.value}}
													</mat-option>
												</mat-autocomplete>
												<mat-hint align="start">
													<strong class="required-star">Billing Country </strong>
												</mat-hint>
												<mat-error>
													Billing Country is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 heading-wrapper mt-4">
											<div class="title-wrapper">
												<h5>Mailing Address</h5>
											</div>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Mailing address street name"
													#mailingAddress formControlName="mailingAddress">
												<button mat-button *ngIf="mailingAddress.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('mailingAddress').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Mailing Address Street Name is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong class="required-star">Mailing Address Street Name</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Mailing post code" #mailingPostCode
													formControlName="mailingPostCode">
												<button mat-button *ngIf="mailingPostCode.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('mailingPostCode').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Mailing Post Code is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Mailing Post Code</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text" placeholder="Mailing city/town" aria-label="Number"
													matInput #mailingCity
													[formControlName]="'mailingCity'" />
												<button mat-button *ngIf="mailingCity.value" matSuffix mat-icon-button
													aria-label="Clear"
													(click)="invoiceForm.get('mailingCity').setValue('')">
													<mat-icon>close</mat-icon>
												</button>												
												<mat-hint align="start">
													<strong>Mailing City/Town </strong>
												</mat-hint>
												<mat-error>
													Mailing City/Town is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text" placeholder="Mailing country" aria-label="Number"
													matInput #mailingCountryId [matAutocomplete]="mailingCountryAuto"
													[formControlName]="'mailingCountryId'"
													(focusout)="controlFocusout('mailingCountryId')">
												<button mat-button *ngIf="mailingCountryId.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('mailingCountryId').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-autocomplete autoActiveFirstOption
													#mailingCountryAuto="matAutocomplete" [displayWith]="displayFn">
													<mat-option *ngFor="let t of filteredMailingCountries | async"
														[value]="t">
														{{t.value}}
													</mat-option>
												</mat-autocomplete>
												<mat-hint align="start">
													<strong class="required-star">Mailing Country </strong>
												</mat-hint>
												<mat-error>
													Mailing Country is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 heading-wrapper mt-4">
											<div class="title-wrapper">
												<h5>Payment and Invoicing</h5>
											</div>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput [matDatepicker]="paymentArrivalDatePicker"
													#paymentArrivalDate placeholder="Payment arrival date"
													[formControlName]="'paymentArrivalDate'">
												<button mat-button *ngIf="paymentArrivalDate.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('paymentArrivalDate').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-datepicker-toggle matSuffix [for]="paymentArrivalDatePicker">
												</mat-datepicker-toggle>
												<mat-datepicker #paymentArrivalDatePicker></mat-datepicker>
												<mat-error>
													Payment Arrival Date
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong class="required-star">Payment Arrival Date</strong>
												</mat-hint>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput [matDatepicker]="paymentDueDatePicker" #paymentDueDate
													placeholder="Payment due date" [formControlName]="'paymentDueDate'">
												<button mat-button *ngIf="paymentDueDate.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('paymentDueDate').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-datepicker-toggle matSuffix [for]="paymentDueDatePicker">
												</mat-datepicker-toggle>
												<mat-datepicker #paymentDueDatePicker></mat-datepicker>
												<mat-error>
													Payment Due Date
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong class="required-star">Payment Due Date</strong>
												</mat-hint>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<!--<mat-form-field class="mat-form-field-fluid">
												<input matInput type="number" placeholder="Discount" #discount
													formControlName="discount">
												<button mat-button *ngIf="discount.value" matSuffix mat-icon-button
													aria-label="Clear"
													(click)="invoiceForm.get('discount').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Discount is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Discount</strong>
												</mat-hint>
											</mat-form-field>-->
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<mat-select [formControlName]="'paymentMethodId'">
													<mat-option *ngFor="let val of paymentMethodsOptions"
														[value]="val.id">
														{{ val.value }}
													</mat-option>
												</mat-select>
												<mat-hint align="start">
													<strong class="required-star">Payment Method </strong>
												</mat-hint>
												<mat-error>
													Payment Method is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div>Insurance Cover:</div>
											<mat-radio-group formControlName="insuranceCoverId">
												<mat-radio-button class="example-radio-button" value="0">No
												</mat-radio-button>
												<mat-radio-button class="example-radio-button" value="1">Yes
												</mat-radio-button>
											</mat-radio-group>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<textarea matInput rows="3" placeholder="Invoice notes" #invoiceNotes
													formControlName="invoiceNotes"></textarea>
												<button mat-button *ngIf="invoiceNotes.value" matSuffix mat-icon-button
													aria-label="Clear"
													(click)="invoiceForm.get('invoiceNotes').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Invoice Notes is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Invoice Notes</strong>
												</mat-hint>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<textarea matInput rows="3" placeholder="Invoice diagnosis"
													#invoiceDiagnosis formControlName="invoiceDiagnosis"></textarea>
												<button mat-button *ngIf="invoiceDiagnosis.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('invoiceDiagnosis').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Invoice Diagnosis is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Invoice Diagnosis</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<textarea matInput rows="3" placeholder="Term and conditions"
													#termsAndConditions formControlName="termsAndConditions"></textarea>
												<button mat-button *ngIf="termsAndConditions.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('termsAndConditions').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Terms and Conditions is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong class="required-star">Terms and Conditions</strong>
												</mat-hint>
											</mat-form-field>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 heading-wrapper mt-4 mb-2">
											<div class="title-wrapper">
												<h5>Invoice Details</h5>
											</div>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<textarea matInput rows="3" placeholder="Invoice description"
													#invoiceDescription formControlName="invoiceDescription"></textarea>
												<button mat-button *ngIf="invoiceDescription.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('invoiceDescription').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Invoice Description is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Invoice Description</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Item name on invoice" #itemNameOnInvoice
													formControlName="itemNameOnInvoice">
												<button mat-button *ngIf="itemNameOnInvoice.value" matSuffix
													mat-icon-button aria-label="Clear"
													(click)="invoiceForm.get('itemNameOnInvoice').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Item Name on Invoice is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong class="required-star">Item Name on Invoice</strong>
												</mat-hint>
											</mat-form-field>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<invoice-add-booking *ngIf="invoice && invoice.id"  [invoiceId]="invoice.id"></invoice-add-booking>
				</kt-portlet-body>
			</ng-template>
		</mat-tab>
		<mat-tab label="Connected Professionals" [disabled]='!(invoice && invoice.id)'>
			<ng-template matTabContent>
				<invoice-connected-professionals [invoiceId]="invoice.id"></invoice-connected-professionals>
			</ng-template>
		</mat-tab>
		<mat-tab label="Connected Customers" [disabled]='!(invoice && invoice.id)'>
			<ng-template matTabContent>
				<invoice-connected-customers [invoiceId]="invoice.id"></invoice-connected-customers>
			</ng-template>
		</mat-tab>
		<mat-tab *ngIf="invoice && invoice.invoiceEntityId" label="Connected Invoice Entities"
			[disabled]='!(invoice && invoice.id)'>
			<ng-template matTabContent>
				<invoice-connected-invoice-entities [invoiceId]="invoice.id"></invoice-connected-invoice-entities>
			</ng-template>
		</mat-tab>
		<mat-tab label="Bookings" [disabled]='!(invoice && invoice.id)'>
			<ng-template matTabContent>
				<invoice-connected-bookings [invoiceId]="invoice.id"></invoice-connected-bookings>
			</ng-template>
		</mat-tab>

	</mat-tab-group>

</kt-portlet>
