<kt-portlet>
	<kt-portlet-header [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
		<ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">
				<span translate="MEDELIT.FEES.FEES_LIST">Fees list</span>
			</h3>
		</ng-container>

		<ng-container ktPortletTools>
			<button [routerLink]="['/fee-management/fees/add']" mat-raised-button matTooltip="Create new fee" color="primary" type="button">
				<span translate="MEDELIT.FEES.NEW_FEE">New Fee</span>
			</button>
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form kt-margin-b-30">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-3 kt-margin-bottom-10-mobile">

						<div class="kt-form__control">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select [(value)]="feeType" (selectionChange)="loadFeesList()">
									<mat-option value="">All</mat-option>
									<mat-option value="0">PT Fee</mat-option>
									<mat-option value="1">PRO Fee</mat-option>
								</mat-select>
								<mat-hint align="start">
									<strong>Filter</strong> by Fee Type
								</mat-hint>
							</mat-form-field>
						</div>
					</div>

					<div class="col-md-3 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Search" #searchInput>
							<mat-hint align="start">
								<strong>Search</strong> in all fields
							</mat-hint>
						</mat-form-field>
					</div>

				</div>
			</div>

			<div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
				 [ngClass]="{'show' : selection.selected.length > 0}">
				<!-- We show 'Group Actions' div if smth are selected -->
				<div class="col-xl-12">
					<div class="kt-form__group kt-form__group--inline">
						<div class="kt-form__label kt-form__label-no-wrap">
							<label class="kt--font-bold kt-font-danger-">
								<span translate="MEDELIT.COMMON.SELECTED_RECORDS_COUNT"></span> {{ selection.selected.length }}
							</label>

						</div>
						<div class="kt-form__control kt-form__group--inline">
							<ng-template ngxPermissionsOnly="canDeleteECommerceData">
								<button (click)="deleteFees()"
										mat-raised-button
										color="accent"
										matTooltip="Delete selected fees"
										class="mat-button-mt-4">
									<mat-icon>delete</mat-icon>
									Delete All
								</button>&nbsp;<!-- Call 'delete-entity-dialog' from _shared folder -->
							</ng-template>

							<button (click)="fetchFees()" mat-raised-button matTooltip="Fetch selected fees" class="mat-button-mt-4">
								<mat-icon>clear_all</mat-icon>
								Fetch Selected
							</button>&nbsp;<!-- Call 'fetch-entity-dialog' from _shared folder -->
							<button (click)="updateStatusForFees()" mat-raised-button matTooltip="Update status for selected fees" class="mat-button-mt-4">
								<mat-icon>update</mat-icon>
								Update status
							</button><!-- Call 'update-stated-dialog' from _shared folder -->
						</div>
					</div>
				</div>
			</div>
			<!-- end::GROUP ACTIONS -->
		</div>

		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8"
					   #table
					   [dataSource]="dataSource"
					   matSort
					   #sort1="matSort"
					   matSortActive="feeName"
					   matSortDirection="desc"
					   matSortDisableClear>
				
				<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null"
									  [checked]="selection.hasValue() && isAllSelected()"
									  [indeterminate]="selection.hasValue() && !isAllSelected()"
									  [color]="'primary'">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()"
									  (change)="$event ? selection.toggle(row) : null"
									  [checked]="selection.isSelected(row)"
									  [color]="'primary'">
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="feeName">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="email-cell">Fee Name</mat-header-cell>
					<mat-cell *matCellDef="let fee" class="email-cell">{{fee.feeName}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="feeType">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="email-cell">Fee Type</mat-header-cell>
					<mat-cell *matCellDef="let fee" class="email-cell">{{fee.feeType}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="tags">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="email-cell">Tags</mat-header-cell>
					<mat-cell *matCellDef="let fee" class="email-cell">{{fee.tags}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="a1">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="email-cell">A1</mat-header-cell>
					<mat-cell *matCellDef="let fee" class="email-cell">{{fee.a1}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="a2">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="email-cell">A2</mat-header-cell>
					<mat-cell *matCellDef="let fee" class="email-cell">{{fee.a2}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
					<mat-cell *matCellDef="let fee">
						<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(fee.status) }} kt-badge--wide">{{  getItemStatusString(fee.status) }}</span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="type">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
					<mat-cell *matCellDef="let fee">
						<span class="kt-badge kt-badge--{{ getItemCssClassByType(fee.type) }} kt-badge--dot"></span>&nbsp;
						<span class="kt--font-bold kt-font-{{ getItemCssClassByType(fee.type) }}">{{ getItemTypeString(fee.type) }}</span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let fee">
						<a mat-icon-button color="primary" matTooltip="Edit fee" [routerLink]="['/fee-management/fees/edit/',fee.id]">
							<mat-icon>create</mat-icon>
						</a>&nbsp;
						<button mat-icon-button
								color="warn"
								matTooltip="Delete fee"
								type="button"
								(click)="deleteFee(fee)">
							<mat-icon>delete</mat-icon>
						</button>&nbsp;

						<!--<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More actions">
							<mat-icon>more_vert</mat-icon>
						</button>-->
						<mat-menu #menu="matMenu">
							<button mat-menu-item>
								<mat-icon>dialpad</mat-icon>
								<span>Redial</span>
							</button>
							<button mat-menu-item disabled>
								<mat-icon>voicemail</mat-icon>
								<span>Check voicemail</span>
							</button>
							<button mat-menu-item>
								<mat-icon>notifications_off</mat-icon>
								<span>Disable alerts</span>
							</button>
						</mat-menu>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<!-- Message for empty data  -->
			<div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
			<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<!-- MATERIAL PAGINATOR | Binded to dasources -->
			<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->

</kt-portlet>
