<kt-portlet>
	<kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'"
		[viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10" mat-raised-button
				matTooltip="Back to the products list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<!--<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Reset</span>
			</a>-->
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)"
				mat-raised-button matTooltip="Save & Continue">
				<i class="la la-save"></i>
				<span class="kt-hidden-mobile">Save</span>
			</a>
			<button *ngIf="leadId && leadId >0" class="btn kt-margin-r-10" (click)="onSumbit(false, true)"
				mat-raised-button matTooltip="Convert to Booking">
				<i class="la la-mail-forward"></i>
				<span class="kt-hidden-mobile">Convert to Booking</span>
			</button>
			<!--<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
				<mat-icon>more_vert</mat-icon>
			</button>-->
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
				<button mat-menu-item color="primary">Save & Duplicate</button>
				<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body class="pt-3">
		<div *ngIf="lead">

			<form [formGroup]="leadForm" class="kt-form kt-form--group-seperator-dashed">

				<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
					(close)="onAlertClose($event)">
					Oh snap! Change a few things up and try submitting again.
				</kt-alert>

				<div class="kt-form__section kt-form__section--first">
					<div class="kt-form__group pt-1">
						<div class="form-group kt-form__group row" *ngIf="lead.id">
							<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
								<label class="font-500">Created : </label> {{lead.createDate | date:'dd/MM/yyyy HH:mm:ss'}}
							</div>
							<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
								<label class="font-500">Last Changed : </label> {{lead.updateDate | date:'dd/MM/yyyy HH:mm:ss'}}
							</div>
							<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
								<label class="pr-2">Assigned To : </label> <span
									class="text-capitalize">{{lead.assignedTo}}</span>
							</div>
							<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
								<label class="pr-2 font-500">Associated to existing Customer: </label>
								<span *ngIf="lead.customerId;else noCustomer"> Yes</span>
								<ng-template #noCustomer>
									<span class="no-option"> No</span>
								</ng-template>
							</div>
						</div>

						<div class="row mb-3">

							<div class="col-md-6 kt-margin-bottom-20-mobile pt-3">
								<mat-form-field class="example-full-width">
									<input type="text" placeholder="Look up for a existing customer" aria-label="Number"
										matInput [matAutocomplete]="fromCutomerAuto" #fromCustomerId
										[formControlName]="'fromCustomerId'">
									<button mat-button *ngIf="fromCustomerId.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('fromCustomerId').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-autocomplete autoActiveFirstOption #fromCutomerAuto="matAutocomplete"
										[displayWith]="displayFn">
										<mat-option *ngFor="let t of filteredCustomers | async" [value]="t">
											{{t.value}}
										</mat-option>
									</mat-autocomplete>
									<mat-hint align="start" *ngIf="!lead.fromCustomerId">
										Select a <strong>Customer </strong>
									</mat-hint>
									<mat-hint align="start" *ngIf="lead.fromCustomerId">
										<p>Customer selected: <strong>{{lead.customer}}</strong><strong
												class="clear-customer"><a (click)="clearCustomer()"><i
														class="la la-remove"></i> Clear</a></strong></p>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-2 kt-margin-bottom-20-mobile pt-3">
								<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary"
									(click)="importFromCustomer()" mat-raised-button matTooltip="Import">
									<span class="kt-hidden-mobile">Select</span>
								</a>
							</div>
						</div>


						<div class="row">
							<div class="col-md-12 heading-wrapper mt-0">
								<div class="title-wrapper">
									<h5>Personal Information</h5>
								</div>
							</div>
							<div class="col-md-1 col-sm-4 col-xs-12 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<mat-select [formControlName]="'titleId'">
										<mat-option *ngFor="let val of titlesForFilter" [value]="val.id">
											{{ val.value }}
										</mat-option>
									</mat-select>
									<mat-error>
										Title is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong class="required-star">Title </strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-12 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Surname" formControlName="surName" #surName>
									<button mat-button *ngIf="surName.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('surName').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Surname is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong class="required-star">Surname</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Name" formControlName="name" #name>
									<button mat-button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear"
										(click)="leadForm.get('name').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Name is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Name</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<input type="text" placeholder="Language" aria-label="Number" matInput #languageId
										[matAutocomplete]="languageAuto" [formControlName]="'languageId'"
										(focusout)="controlFocusout('languageId')">
									<button mat-button *ngIf="languageId.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('languageId').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-autocomplete autoActiveFirstOption #languageAuto="matAutocomplete"
										[displayWith]="displayFn">
										<mat-option *ngFor="let t of filteredLanguages | async" [value]="t">
											{{t.value}}
										</mat-option>
									</mat-autocomplete>
									<mat-error>
										Language is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong class="required-star">Language </strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Main phone" #mainPhone formControlName="mainPhone">
									<button mat-button *ngIf="mainPhone.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('mainPhone').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-hint align="start">
										<strong>Main Phone</strong>
									</mat-hint>
									<mat-error *ngIf="leadForm.get('mainPhone').errors?.pattern">
										Main phone should contain
										<strong><i class="la la-plus"></i> sign or numbers only </strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Main phone owner" #mainPhoneOwner
										formControlName="mainPhoneOwner">
									<button mat-button *ngIf="mainPhoneOwner.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('mainPhoneOwner').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Main phone owner is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Main Phone Owner</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Contact phone" #contactPhone
										formControlName="contactPhone">
									<button mat-button *ngIf="contactPhone.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('contactPhone').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-hint align="start">
										<strong>Contact Phone</strong>
									</mat-hint>
									<mat-error *ngIf="leadForm.get('mainPhone').errors?.pattern">
										Contact phone should contain
										<strong><i class="la la-plus"></i> sign or numbers only </strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<div class="row">
									<div class="col kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Phone 2" #phone2 formControlName="phone2">
											<button mat-button *ngIf="phone2.value" matSuffix mat-icon-button
												aria-label="Clear" (click)="leadForm.get('phone2').setValue('')">
												<mat-icon>close</mat-icon>
											</button>
											<mat-hint align="start">
												<strong>Phone 2</strong>
											</mat-hint>
											<mat-error *ngIf="leadForm.get('phone2').errors?.pattern">
												Phone 2 should should contain
												<strong><i class="la la-plus"></i> sign or numbers only </strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Phone 2 owner" #phone2Owner
												formControlName="phone2Owner">
											<button mat-button *ngIf="phone2Owner.value" matSuffix mat-icon-button
												aria-label="Clear" (click)="leadForm.get('phone2Owner').setValue('')">
												<mat-icon>close</mat-icon>
											</button>
											<mat-error>
												Phone 2 owner
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">
												<strong>Phone 2 owner</strong>
											</mat-hint>
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<div class="row">
									<div class="col kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Phone 3" #phone3 formControlName="phone3">
											<button mat-button *ngIf="phone3.value" matSuffix mat-icon-button
												aria-label="Clear" (click)="leadForm.get('phone3').setValue('')">
												<mat-icon>close</mat-icon>
											</button>
											<mat-hint align="start">
												<strong>Phone 3</strong>
											</mat-hint>
											<mat-error *ngIf="leadForm.get('phone3').errors?.pattern">
												Phone 3 should start with
												<strong><i class="la la-plus"></i> sign and numbers only </strong>
											</mat-error>
										</mat-form-field>
									</div>
									<div class="col kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Phone 3 owner" #phone3Owner
												formControlName="phone3Owner">
											<button mat-button *ngIf="phone3Owner.value" matSuffix mat-icon-button
												aria-label="Clear" (click)="leadForm.get('phone3Owner').setValue('')">
												<mat-icon>close</mat-icon>
											</button>
											<mat-error>
												Phone 3 owner
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">
												<strong>Phone 3 owner</strong>
											</mat-hint>
										</mat-form-field>
									</div>
								</div>
							</div>

							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<div class="row">
									<div class="col-md-8">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Email" #email formControlName="email">
											<button mat-button *ngIf="email.value" matSuffix mat-icon-button
												aria-label="Clear" (click)="leadForm.get('email').setValue('')">
												<mat-icon>close</mat-icon>
											</button>
											<mat-error *ngIf="leadForm.get('email').errors?.required">
												Email
												<strong>required</strong>
											</mat-error>
											<mat-error *ngIf="leadForm.get('email').errors?.email">
												Invalid
												<strong>Email</strong>
											</mat-error>
											<mat-hint align="start">
												<strong>Email</strong>
											</mat-hint>
										</mat-form-field>
									</div>
									<div class="col-md-4">
										<button class="btn btn-primary btn-sm">Send Email</button>
									</div>
								</div>
							</div>
							<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
								<div class="row">
									<div class="col-md-8">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Email 2" #email2 formControlName="email2">
											<button mat-button *ngIf="email2.value" matSuffix mat-icon-button
												aria-label="Clear" (click)="leadForm.get('email2').setValue('')">
												<mat-icon>close</mat-icon>
											</button>
											<mat-error *ngIf="leadForm.get('email2').errors?.required">
												Email 2 is
												<strong>required</strong>
											</mat-error>
											<mat-error *ngIf="leadForm.get('email2').errors?.email">
												Invalid
												<strong>Email</strong>
											</mat-error>
											<mat-hint align="start">
												<strong>Email 2</strong>
											</mat-hint>
										</mat-form-field>
									</div>
									<div class="col-md-4">
										<button class="btn btn-primary btn-sm">Send Email</button>
									</div>
								</div>
							</div>
							<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Fax" #fax formControlName="fax">
									<button mat-button *ngIf="fax.value" matSuffix mat-icon-button aria-label="Clear"
										(click)="leadForm.get('fax').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Fax
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Fax</strong>
									</mat-hint>
								</mat-form-field>
							</div>

							<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput #dateOfBirth placeholder="Date of birth"
										[formControlName]="'dateOfBirth'" bsDatepicker [bsConfig]="datePickerConfig">
									<button mat-button *ngIf="dateOfBirth.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('dateOfBirth').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Date of birth
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Date of Birth</strong>
									</mat-hint>
								</mat-form-field>
							</div>

							<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<input type="text" placeholder="Country of birth" aria-label="Number" matInput
										#countryOfBirthId [matAutocomplete]="countryOfBirthAuto"
										[formControlName]="'countryOfBirthId'">
									<button mat-button *ngIf="countryOfBirthId.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('countryOfBirthId').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-autocomplete autoActiveFirstOption #countryOfBirthAuto="matAutocomplete"
										[displayWith]="displayFn">
										<mat-option *ngFor="let t of filteredCountriesForCountryOfBirth | async"
											[value]="t">
											{{t.value}}
										</mat-option>
									</mat-autocomplete>
									<mat-error>
										Country of Birth is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Country of Birth </strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Name of person requesting visit" #visitRequestingPerson
										formControlName="visitRequestingPerson">
									<button mat-button *ngIf="visitRequestingPerson.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('visitRequestingPerson').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Name of person requesting visit is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Name of person requesting visit</strong>
									</mat-hint>
								</mat-form-field>
							</div>

							<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<mat-select [formControlName]="'visitRequestingPersonRelationId'">
										<mat-option *ngFor="let val of relationshipsForFilter" [value]="val.id">
											{{ val.value }}
										</mat-option>
									</mat-select>
									<mat-error>
										Requesting person Relationship is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Requesting Person Relationship </strong>
									</mat-hint>
								</mat-form-field>
							</div>

							<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="GP" #gpCode formControlName="gpCode">
									<button mat-button *ngIf="gpCode.value" matSuffix mat-icon-button aria-label="Clear"
										(click)="leadForm.get('gpCode').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										GP is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>GP</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<div>Black Listed:</div>
								<mat-radio-group formControlName="blacklistId">
									<mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
									<mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
								</mat-radio-group>
							</div>
						</div>

						<div class="row" *ngIf="servicesForFilter && servicesForFilter.length >1">
							<div class="col-md-12 heading-wrapper mt-4">
								<div class="title-wrapper">
									<h5>
										Services Requested
										<a href="javascript:;" class="btn pull-right" (click)="addService()"
											mat-raised-button matTooltip="Add New Service Row">
											<span class="kt-hidden-mobile">Add Service</span>
										</a>

									</h5>
								</div>
							</div>
							<div class="col-12">

							</div>

							<div class="table-wrapper" formArrayName="services">
								<table class="table table-bordered table-head-solid">
									<thead>
										<tr>
											<th>Services</th>
											<th>Professionals</th>
											<th>PT Fees</th>
											<th>PRO Fees</th>
											<th></th>
										</tr>
									</thead>
									<tbody *ngFor="let service of leadForm.get('services').controls; let i = index">
										<tr [formGroupName]="i">
											<td style="width:20%;">

												<mat-form-field class="example-full-width">
													<input type="text" placeholder="Service" aria-label="Number"
														#serviceId matInput [matAutocomplete]="serviceIdAuto"
														[formControlName]="'serviceId'"
														(focusout)="serviceControlFocusout($event, serviceId, i)">
													<button mat-button *ngIf="serviceId.value" matSuffix mat-icon-button
														aria-label="Clear"
														(click)="leadForm.get('services').controls[i].get('serviceId').setValue('')">
														<mat-icon>close</mat-icon>
													</button>
													<mat-autocomplete autoActiveFirstOption
														#serviceIdAuto="matAutocomplete"
														(optionSelected)="serviceSelected($event, i)"
														[displayWith]="displayFn">
														<mat-option *ngFor="let t of getFilteredServices(i)"
															[value]="t">
															{{t.value}}
														</mat-option>
													</mat-autocomplete>

													<mat-hint align="start">
														<strong class="required-star">Service </strong>
													</mat-hint>
													<mat-error>
														Service is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>

											</td>
											<td style="width:20%;">
												<mat-form-field class="example-full-width">
													<mat-select [formControlName]="'professionalId'"
														(selectionChange)="setFees(i)">
														<mat-option *ngFor="let val of getProfessionals(i)"
															[value]="val.id">
															{{ val.value }}
														</mat-option>
													</mat-select>
													<mat-hint align="start">
														<strong>Professional </strong>
													</mat-hint>
													<mat-error>
														Professional is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>

											</td>
											<td>
												<div class="row">
													<div class="col-sm-12">
														<div class="row">
															<div class="col-sm-12 font-500">PT. Fee:</div>
														</div>
													</div>
													<div class="col-md-4">
														<mat-radio-group class="example-radio-group"
															formControlName="isPtFeeA1">
															<mat-radio-button class="example-radio-button" value="1">A1
															</mat-radio-button>
															<mat-radio-button class="example-radio-button" value="0">A2
															</mat-radio-button>
														</mat-radio-group>
													</div>
													<div class="col-md-8 pt-0"
														*ngIf="this.leadForm.get('services').controls[i].get('isPtFeeA1').value === '1'">
														<mat-form-field>
															<input type="number" matInput placeholder="PT Fee A1"
																formControlName="ptFeeA1" min="0">
															<mat-hint align="start">
																PT Fee <strong>A1 </strong>
															</mat-hint>
															<mat-error>
																PT Fee A1
																<strong>required</strong>
															</mat-error>
														</mat-form-field>
													</div>

													<div class="col-md-8 pt-0"
														*ngIf="this.leadForm.get('services').controls[i].get('isPtFeeA1').value === '0'">
														<mat-form-field>
															<input type="number" matInput placeholder="PT Fee A2"
																formControlName="ptFeeA2" min="0">
															<mat-hint align="start">
																PT Fee <strong>A2 </strong>
															</mat-hint>
															<mat-error>
																PT Fee A2
																<strong>required</strong>
															</mat-error>
														</mat-form-field>
													</div>
												</div>
											</td>
											<td>
												<div class="row">
													<div class="col-sm-12">
														<div class="row">
															<div class="col-sm-12 font-500">PRO. Fee:</div>
														</div>
													</div>

													<div class="col-md-4">
														<mat-radio-group class="example-radio-group"
															formControlName="isProFeeA1">
															<mat-radio-button class="example-radio-button" value="1">A1
															</mat-radio-button>
															<mat-radio-button class="example-radio-button" value="0">A2
															</mat-radio-button>
														</mat-radio-group>
													</div>
													<div class="col-md-8 pt-0"
														[hidden]="this.leadForm.get('services').controls[i].get('isProFeeA1').value === '0'">
														<mat-form-field>
															<input type="number" matInput placeholder="PRO Fee A1"
																formControlName="proFeeA1" min="0">
															<mat-hint align="start">
																PRO Fee <strong>A1 </strong>
															</mat-hint>
															<mat-error>
																PRO Fee A1
																<strong>required</strong>
															</mat-error>
														</mat-form-field>
													</div>

													<div class="col-md-8 pt-0"
														[hidden]="this.leadForm.get('services').controls[i].get('isProFeeA1').value === '1'">
														<mat-form-field>
															<input type="number" matInput placeholder="PRO Fee A2"
																formControlName="proFeeA2" min="0">
															<mat-hint align="start">
																PRO Fee <strong>A2 </strong>
															</mat-hint>
															<mat-error>
																PRO Fee A2
																<strong>required</strong>
															</mat-error>
														</mat-form-field>
													</div>
												</div>
											</td>
											<td style="width:10%;">
												<i *ngIf="i >0" class="la la-trash-o" (click)="removeService(i)"></i>
											</td>
										</tr>
									</tbody>
									<tbody>
										<tr>
											<td colspan="2"><strong class="pull-right">SubTotal:</strong></td>
											<td>{{feesSubTotals.ptFeeSubTotal | number : '1.2-2'}}</td>
											<td>{{feesSubTotals.proFeeSubTotal | number : '1.2-2'}}</td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>

						<div class="row">
							<div class="col-md-12 heading-wrapper mt-4">
								<div class="title-wrapper">
									<h5>Payment and Invoicing</h5>
								</div>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<mat-select [formControlName]="'preferredPaymentMethodId'">
										<mat-option *ngFor="let val of paymentMethodsOptions" [value]="val.id">
											{{ val.value }}
										</mat-option>
									</mat-select>
									<mat-error>
										Preferred Payment Method is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Preferred Payment Method </strong>
									</mat-hint>
								</mat-form-field>
							</div>

							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field>
									<mat-select class="mat-form-field mat-form-field-fluid"
										[formControlName]="'insuranceCoverId'">
										<mat-option value="0">No</mat-option>
										<mat-option value="1">Yes</mat-option>
									</mat-select>
									<mat-error>
										Insurance Cover is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Insurance Cover</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<mat-select [formControlName]="'listedDiscountNetworkId'">
										<mat-option *ngFor="let val of listedDiscountNetworkOptions" [value]="val.id">
											{{ val.value }}
										</mat-option>
									</mat-select>
									<mat-error>
										Discount Network is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Discount Network </strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input type="number" matInput placeholder="Discount (%)" #discount
										formControlName="discount">
									<button mat-button *ngIf="discount.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('discount').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Discount (%) is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Discount (%)</strong>
									</mat-hint>
								</mat-form-field>
							</div>

							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<div>Does customer have a different IE?:</div>
								<mat-radio-group formControlName="haveDifferentIEId">
									<mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
									<mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
								</mat-radio-group>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<input type="text" placeholder="Invoice entity" aria-label="Number" #invoiceEntityId
										matInput [matAutocomplete]="ieAuto" [formControlName]="'invoiceEntityId'"
										(focusout)="controlFocusout('invoiceEntityId')">
									<button mat-button *ngIf="invoiceEntityId.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('invoiceEntityId').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-autocomplete autoActiveFirstOption #ieAuto="matAutocomplete"
										[displayWith]="displayFn">
										<mat-option *ngFor="let t of filteredInvoiceEntities | async" [value]="t">
											{{t.value}}
										</mat-option>
									</mat-autocomplete>
									<mat-hint align="start">
										<strong>Invoice Entity </strong> <strong class="new-ie"
											*ngIf="leadForm.get('haveDifferentIEId').value === '1'"> <a
												(click)="createNewIE()">Create New</a></strong>
									</mat-hint>
									<mat-error>
										Inovice Entity is
										<strong>required</strong>
										<strong class="new-ie" *ngIf="leadForm.get('haveDifferentIEId').value === '1'">
											<a (click)="createNewIE()">Create New</a></strong>
									</mat-error>
								</mat-form-field>
							</div>

							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<textarea matInput rows="2" placeholder="Invoice Notes" #invoicingNotes
										formControlName="invoicingNotes"></textarea>
									<button mat-button *ngIf="invoicingNotes.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('invoicingNotes').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Invoice Notes is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Invoice Notes</strong>
									</mat-hint>
								</mat-form-field>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 heading-wrapper mt-4">
								<div class="title-wrapper">
									<h5>Visit Address Information</h5>
								</div>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Street Address" #addressStreetName
										formControlName="addressStreetName">
									<button mat-button *ngIf="addressStreetName.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('addressStreetName').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Street Address is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong class="required-star">Street Address</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Postal Code" #postalCode formControlName="postalCode">
									<button mat-button *ngIf="postalCode.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('postalCode').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Postal Code is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong class="required-star">Postal Code</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="City" #city formControlName="city">
									<button mat-button *ngIf="city.value" matSuffix mat-icon-button aria-label="Clear"
										(click)="leadForm.get('city').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										City is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong class="required-star">City</strong>
									</mat-hint>
								</mat-form-field>
							</div>

							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<input type="text" placeholder="Country" aria-label="Number" matInput #countryId
										[matAutocomplete]="countryIdAuto" [formControlName]="'countryId'">
									<button mat-button *ngIf="countryId.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('countryId').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-autocomplete autoActiveFirstOption #countryIdAuto="matAutocomplete"
										[displayWith]="displayFn">
										<mat-option *ngFor="let t of filteredCountries | async" [value]="t">
											{{t.value}}
										</mat-option>
									</mat-autocomplete>
									<mat-error>
										Country is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong class="required-star">Country </strong>
									</mat-hint>
								</mat-form-field>
							</div>

							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<mat-select [formControlName]="'buildingTypeId'">
										<mat-option *ngFor="let val of buildingTypeOptions" [value]="val.id">
											{{ val.value }}
										</mat-option>
									</mat-select>
									<mat-error>
										Type of Building is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Type of Building </strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Buzzer info" #buzzer formControlName="buzzer">
									<button mat-button *ngIf="buzzer.value" matSuffix mat-icon-button aria-label="Clear"
										(click)="leadForm.get('buzzer').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Buzzer is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Buzzer</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput type="number" placeholder="Flat Nº" #flatNumber
										formControlName="flatNumber">
									<button mat-button *ngIf="flatNumber.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('flatNumber').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Flat Nº is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Flat Nº</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput type="number" placeholder="Floor Nº" #floor formControlName="floor">
									<button mat-button *ngIf="floor.value" matSuffix mat-icon-button aria-label="Clear"
										(click)="leadForm.get('floor').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Floor Nº is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Floor Nº</strong>
									</mat-hint>
								</mat-form-field>
							</div>

							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<mat-select [formControlName]="'visitVenueId'">
										<mat-option *ngFor="let val of visitVenueOptions" [value]="val.id">
											{{ val.value }}
										</mat-option>
									</mat-select>
									<mat-error>
										Visit Venue is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Visit Venue </strong>
									</mat-hint>
								</mat-form-field>
							</div>

							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<textarea matInput rows="2" placeholder="Address Notes" #addressNotes
										formControlName="addressNotes"></textarea>
									<button mat-button *ngIf="addressNotes.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('addressNotes').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Address Notes is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Address Notes</strong>
									</mat-hint>
								</mat-form-field>
							</div>

							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<textarea matInput rows="2" placeholder="Visit Venue Details" #visitVenueDetail
										formControlName="visitVenueDetail"></textarea>
									<button mat-button *ngIf="visitVenueDetail.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('visitVenueDetail').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Visit Venue Details is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Visit Venue Details</strong>
									</mat-hint>
								</mat-form-field>
							</div>

						</div>
						<div class="row">
							<div class="col-md-12 heading-wrapper mt-4">
								<div class="title-wrapper">
									<h5>Lead Information</h5>
								</div>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<mat-select [formControlName]="'leadStatusId'">
										<mat-option *ngFor="let val of leadStatusOptions" [value]="val.id">
											{{ val.value }}
										</mat-option>
									</mat-select>
									<mat-error>
										Lead Status is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Lead Status</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<mat-select [formControlName]="'leadSourceId'">
										<mat-option *ngFor="let val of leadSourceOptions" [value]="val.id">
											{{ val.value }}
										</mat-option>
									</mat-select>
									<mat-hint align="start">
										<strong>Lead Source</strong>
									</mat-hint>
									<mat-error>
										Lead Source is
										<strong class="required-star">required</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<mat-select [formControlName]="'leadCategoryId'">
										<mat-option *ngFor="let val of leadCategoryOptions" [value]="val.id">
											{{ val.value }}
										</mat-option>
									</mat-select>
									<mat-error>
										Lead Category is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Lead Category</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-full-width">
									<mat-select [formControlName]="'contactMethodId'">
										<mat-option *ngFor="let val of contactMethodOptions" [value]="val.id">
											{{ val.value }}
										</mat-option>
									</mat-select>
									<mat-error>
										Contact Method is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Contact Method</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<textarea matInput rows="2" placeholder="Lead Description" #leadDescription
										formControlName="leadDescription"></textarea>
									<button mat-button *ngIf="leadDescription.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('leadDescription').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Lead Description is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong class="required-star">Lead Description</strong>
									</mat-hint>
								</mat-form-field>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 heading-wrapper mt-4">
								<div class="title-wrapper">
									<h5>Bank Details</h5>
								</div>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Bank Name" #bankName formControlName="bankName">
									<button mat-button *ngIf="bankName.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('bankName').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Bank Name is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Bank Name</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Account Number" #accountNumber
										formControlName="accountNumber">
									<button mat-button *ngIf="accountNumber.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('accountNumber').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Account Number is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Account Number</strong>
									</mat-hint>
								</mat-form-field>
							</div>

							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Sort Code" #sortCode formControlName="sortCode"
										mask="00-00-00">
									<button mat-button *ngIf="sortCode.value" matSuffix mat-icon-button
										aria-label="Clear" (click)="leadForm.get('sortCode').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										Sort Code is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>Sort Code</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 col kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="IBAN" #iban formControlName="iban">
									<button mat-button *ngIf="iban.value" matSuffix mat-icon-button aria-label="Clear"
										(click)="leadForm.get('iban').setValue('')">
										<mat-icon>close</mat-icon>
									</button>
									<mat-error>
										IBAN is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>IBAN</strong>
									</mat-hint>
								</mat-form-field>
							</div>

						</div>
					</div>
				</div>
			</form>
		</div>
	</kt-portlet-body>
</kt-portlet>
