<div class="row">
	<div class="col-xl-12">
		<div class="row row-full-height">
			<div class="col col-sm-4">
				<kt-portlet [class]="'kt-portlet kt-portlet--border-bottom-brand'">
					<kt-portlet-body [class]="'kt-portlet__body--fluid'">
						<div class="kt-widget26">
							<div class="kt-widget26__content">
								<span class="kt-widget26__number"><strong>Leads</strong></span>
								<span class="kt-widget26 x-large">{{stats.leads}}</span>
								<span class="kt-widget26__desc"><a [routerLink]="'/lead-management/leads'">View All</a></span>
							</div>
						</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>
			<div class="col col-sm-4">
				<kt-portlet [class]="'kt-portlet kt-portlet--border-bottom-brand'">
					<kt-portlet-body [class]="'kt-portlet__body--fluid'">
						<div class="kt-widget26">
							<div class="kt-widget26__content">
								<span class="kt-widget26__number"><strong>Customers</strong></span>
								<span class="kt-widget26 x-large">{{stats.customers}}</span>
								<span class="kt-widget26__desc"><a [routerLink]="'/customer-management/customers'">View All</a></span>
							</div>
						</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>
			<div class="col col-sm-4">
				<kt-portlet [class]="'kt-portlet kt-portlet--border-bottom-brand'">
					<kt-portlet-body [class]="'kt-portlet__body--fluid'">
						<div class="kt-widget26">
							<div class="kt-widget26__content">
								<span class="kt-widget26__number"><strong>Bookinsgs</strong></span>
								<span class="kt-widget26 x-large">{{stats.bookings}}</span>
								<span class="kt-widget26__desc"><a [routerLink]="'/booking-management/bookings'">View All</a></span>
							</div>
						</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>
			<div class="col col-sm-4">
				<kt-portlet [class]="'kt-portlet kt-portlet--border-bottom-brand'">
					<kt-portlet-body [class]="'kt-portlet__body--fluid'">
						<div class="kt-widget26">
							<div class="kt-widget26__content">
								<span class="kt-widget26__number"><strong>Invoices</strong></span>
								<span class="kt-widget26 x-large">{{stats.invoices}}</span>
								<span class="kt-widget26__desc"><a [routerLink]="'/invoice-management/invoices'">View All</a></span>
							</div>
						</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>
			<div class="col col-sm-4">
				<kt-portlet [class]="'kt-portlet kt-portlet--border-bottom-brand'">
					<kt-portlet-body [class]="'kt-portlet__body--fluid'">
						<div class="kt-widget26">
							<div class="kt-widget26__content">
								<span class="kt-widget26__number"><strong>Professionals </strong></span>
								<span class="kt-widget26 x-large">{{stats.professionals}}</span>
								<span class="kt-widget26__desc"><a [routerLink]="'/professional-management/professionals'">View All</a></span>
							</div>
						</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>


			<div class="col col-sm-4">
				<kt-portlet [class]="'kt-portlet kt-portlet--border-bottom-brand'">
					<kt-portlet-body [class]="'kt-portlet__body--fluid'">
						<div class="kt-widget26">
							<div class="kt-widget26__content">
								<span class="kt-widget26__number"><strong>Services</strong></span>
								<span class="kt-widget26 x-large">{{stats.services}}</span>
								<span class="kt-widget26__desc"><a [routerLink]="'/service-management/services'">View All</a></span>
							</div>
						</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>

		</div>
	</div>
	
</div>

