<kt-portlet>
	<kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the professionals list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<!--<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Reset</span>
			</a>-->
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
				<i class="la la-save"></i>
				<span class="kt-hidden-mobile">Save</span>
			</a>
			<!--<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
				<mat-icon>more_vert</mat-icon>
			</button>-->
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
				<!--<button mat-menu-item color="primary">Save & Duplicate</button>-->
				<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="tabChanged($event)">
			<mat-tab label="Professional Info">
				<ng-template matTabContent>
					<kt-portlet>
						<div *ngIf="professionalForm" class="tab-wrapper">
							<!--begin::Form-->
							<form [formGroup]="professionalForm" class="kt-form kt-form--group-seperator-dashed">
								<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
									Oh snap! Change a few things up and try submitting again.
								</kt-alert>

								<div class="kt-form__section kt-form__section--first">
									<div class="kt-form__group pt-1">
										<div class="form-group kt-form__group row" *ngIf="professional.id">
											<!--<div class="col-md-12 heading-wrapper mt-0">
												<div class="title-wrapper">
													<h5>Lead Info</h5>
												</div>
											</div>-->
											<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
												<label>Nr. Pro.: </label> {{professional.code}}
											</div>
											<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
												<label>Created : </label> <span class="ml-2">{{professional.createDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
											</div>
											<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
												<label>Last Changed : </label> <span class="ml-2">{{professional.updateDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
											</div>

										</div>

										<div class="row mt-3">
											<div class="col-md-12 heading-wrapper mt-0">
												<div class="title-wrapper">
													<h5>Personal Information</h5>
												</div>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="example-full-width">
													<mat-select [formControlName]="'titleId'">
														<mat-option *ngFor="let val of titlesForFilter" [value]="val.id">
															{{ val.value }}
														</mat-option>
													</mat-select>
													<mat-hint align="start">
														<strong class="required-star">Title</strong>
													</mat-hint>
													<mat-error>
														Title is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Name" #name formControlName="name">
													<button mat-button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" (click)="professionalForm.get('name').setValue('')">
														<mat-icon>close</mat-icon>
													</button>
													<mat-error>
														Name is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">Name</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Mobile phone" #mobilePhone formControlName="mobilePhone" maxlength="50">
													<button mat-button *ngIf="mobilePhone.value" matSuffix mat-icon-button aria-label="Clear" (click)="professionalForm.get('mobilePhone').setValue('')">
														<mat-icon>close</mat-icon>
													</button>
													<mat-hint align="start">
														<strong class="required-star">Mobile Phone</strong>
													</mat-hint>
													<mat-error *ngIf="professionalForm.get('mobilePhone').errors?.required">
														Mobile Phone is
														<strong>required</strong>
													</mat-error>
													<mat-error *ngIf="professionalForm.get('mobilePhone').errors?.pattern">
														Mobile Phone should contain
														<strong><i class="la la-plus"></i> sign or numbers only </strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Main telephone" #telephone formControlName="telephone" maxlength="50">
													<button mat-button *ngIf="telephone.value" matSuffix mat-icon-button aria-label="Clear" (click)="professionalForm.get('telephone').setValue('')">
														<mat-icon>close</mat-icon>
													</button>
													<mat-hint align="start">
														<strong class="required-star">Main Telephone</strong>
													</mat-hint>
													<mat-error *ngIf="professionalForm.get('telephone').errors?.required">
														Main Telephone is
														<strong>required</strong>
													</mat-error>
													<mat-error *ngIf="professionalForm.get('telephone').errors?.pattern">
														Main Telephone should contain
														<strong><i class="la la-plus"></i> sign or numbers only </strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Home phone" #homePhone formControlName="homePhone" maxlength="50">
													<button mat-button *ngIf="homePhone.value" matSuffix mat-icon-button aria-label="Clear" (click)="professionalForm.get('homePhone').setValue('')">
														<mat-icon>close</mat-icon>
													</button>
													<mat-hint align="start">
														<strong>Home Phone</strong>
													</mat-hint>
													<mat-error *ngIf="professionalForm.get('homePhone').errors?.required">
														Home Phone is
														<strong>required</strong>
													</mat-error>
													<mat-error *ngIf="professionalForm.get('homePhone').errors?.pattern">
														Home Phone should contain
														<strong><i class="la la-plus"></i> sign or numbers only </strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Clinic phone number" #clinicPhoneNumber formControlName="clinicPhoneNumber" maxlength="50">
													<button mat-button *ngIf="clinicPhoneNumber.value" matSuffix mat-icon-button aria-label="Clear" (click)="professionalForm.get('clinicPhoneNumber').setValue('')">
														<mat-icon>close</mat-icon>
													</button>
													<mat-hint align="start">
														<strong>Clinic Phone Number</strong>
													</mat-hint>
													<mat-error *ngIf="professionalForm.get('clinicPhoneNumber').errors?.required">
														Clinic Phone Numbere is
														<strong>required</strong>
													</mat-error>
													<mat-error *ngIf="professionalForm.get('clinicPhoneNumber').errors?.pattern">
														Clinic Phone should contain
														<strong><i class="la la-plus"></i> sign or numbers only </strong>
													</mat-error>
												</mat-form-field>
											</div>

											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Email" #email formControlName="email">
													<button mat-button *ngIf="email.value" matSuffix mat-icon-button aria-label="Clear" (click)="professionalForm.get('email').setValue('')">
														<mat-icon>close</mat-icon>
													</button>
													<mat-hint align="start">
														<strong class="required-star">Email</strong>
													</mat-hint>
													<mat-error *ngIf="professionalForm.get('email').errors?.required">
														Email is
														<strong>required</strong>
													</mat-error>
													<mat-error *ngIf="professionalForm.get('email').errors?.email">
														Email is
														<strong>invalid</strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Email 2" #email2 formControlName="email2">
													<button mat-button *ngIf="email2.value" matSuffix mat-icon-button aria-label="Clear" (click)="professionalForm.get('email2').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-hint align="start">
														<strong>Email 2</strong>
													</mat-hint>
													<mat-error *ngIf="professionalForm.get('email2').errors?.required">
														Email 2 is
														<strong>required</strong>
													</mat-error>
													<mat-error *ngIf="professionalForm.get('email2').errors?.email">
														Email 2 is
														<strong>invalid</strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Fax" #fax maxlength="250" formControlName="fax">
													<button mat-button *ngIf="fax.value" matSuffix mat-icon-button aria-label="Clear" (click)="professionalForm.get('fax').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-hint align="start">
														<strong>Fax</strong>
													</mat-hint>
													<mat-error>
														Fax is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field>
													<mat-select [formControlName]="'professionalLanguages'" placeholder="Languages" [multiple]="true" #multiSelect>
														<ngx-mat-select-search placeholderLabel="Search Language" noEntriesFoundLabel="No data found" type="text" [formControl]="langMultiFilterCtrl"></ngx-mat-select-search>
														<mat-option *ngFor="let lang of filteredLanguages | async" [value]="lang">
															{{lang.value}}
														</mat-option>
													</mat-select>
													<mat-error>
														Language(S) are
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">Language(S)</strong>
													</mat-hint>
												</mat-form-field>
											</div>

											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<div class="row">
													<div [ngClass]="{'col-md-11': professionalForm.get('website').valid, 'col-md-12':!professionalForm.get('website').valid}">
														<mat-form-field class="mat-form-field-fluid">
															<input matInput placeholder="Website" #website formControlName="website" maxlength="4000">
															<button mat-button *ngIf="website.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('website').setValue('')">
																<mat-icon>close</mat-icon>
															</button>

															<mat-hint align="start">
																<strong>Website</strong>
															</mat-hint>

															<mat-error *ngIf="getControl('website').error?.required">
																Website is
																<strong>required</strong>
															</mat-error>
															<mat-error *ngIf="!getControl('website').error?.required">
																Invalid
																<strong>website url</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-md-1" *ngIf="website.value">
														<a class="view-link" href="//{{website.value}}" target="_blank"><i class="la la-2x la-eye"></i></a>
													</div>
												</div>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<div class="row">
													<div [ngClass]="{'col-md-11': getControl('proOnlineCV').valid, 'col-md-12':!getControl('proOnlineCV').valid}">
														<mat-form-field class="mat-form-field-fluid">
															<input type="url" matInput placeholder="Online CV link" #proOnlineCV maxlength="4000" formControlName="proOnlineCV">
															<button mat-button *ngIf="proOnlineCV.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('proOnlineCV').setValue('')">
																<mat-icon>close</mat-icon>
															</button>
															<mat-hint align="start">
																<strong>Online CV link</strong>
															</mat-hint>

															<mat-error *ngIf="getControl('proOnlineCV').error?.required">
																Online CV link is
																<strong>required</strong>
															</mat-error>
															<mat-error *ngIf="!getControl('proOnlineCV').error?.required">
																Invalid
																<strong>CV url</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-md-1" *ngIf="proOnlineCV.value">
														<a class="view-link" href="//{{proOnlineCV.value}}" target="_blank"><i class="la la-2x la-eye"></i></a>
													</div>
												</div>	
											</div>

											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field>
													<mat-select [formControlName]="'professionalFields'" placeholder="Fields" [multiple]="true" #multiSelect (selectionChange)="loadSubCatsForFilter()">
														<ngx-mat-select-search placeholderLabel="Search Fields" noEntriesFoundLabel="No data found" type="text" [formControl]="fieldMultiFilterCtrl"></ngx-mat-select-search>
														<mat-option *ngFor="let lang of filteredFields | async" [value]="lang">
															{{lang.value}}
														</mat-option>
													</mat-select>
													<mat-error>
														Field(S) are
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">Field(S)</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field>
													<mat-select [formControlName]="'professionalSubCategories'" placeholder="Subcategories" [multiple]="true" #multiSelect>
														<ngx-mat-select-search placeholderLabel="Search Subcategories" noEntriesFoundLabel="No data found" type="text" [formControl]="subCatsMultiFilterCtrl"></ngx-mat-select-search>
														<mat-option *ngFor="let lang of filteredSubCats | async" [value]="lang">
															{{lang.value}}
														</mat-option>
													</mat-select>
													<mat-error>
														SubCategory(S) are
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">SubCategory(S)</strong>
													</mat-hint>
												</mat-form-field>
											</div>

											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput
														   #dateOfBirth
														   placeholder="Date of birth"
														   [formControlName]="'dateOfBirth'"
														   bsDatepicker [bsConfig]="datePickerConfig" />
													<button mat-button *ngIf="dateOfBirth.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('dateOfBirth').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Date of birth
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">Date of Birth</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-12 heading-wrapper">
												<div class="title-wrapper">
													<h5>Cover Maps</h5>
												</div>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												
												<div class="row">
													<div [ngClass]="{'col-md-11': professionalForm.get('coverMap').valid, 'col-md-12':!professionalForm.get('coverMap').valid}">
														<mat-form-field class="mat-form-field-fluid">
															<input matInput placeholder="Covermap" #coverMap formControlName="coverMap" maxlength="4000">
															<button mat-button *ngIf="coverMap.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('coverMap').setValue('')">
																<mat-icon>close</mat-icon>
															</button>

															<mat-hint align="start">
																<strong>Covermap</strong>
															</mat-hint>

															<mat-error *ngIf="getControl('coverMap').error?.required">
																Covermap is
																<strong>required</strong>
															</mat-error>
															<mat-error *ngIf="!getControl('coverMap').error?.required">
																Invalid
																<strong>Covermap url</strong>
															</mat-error>
														</mat-form-field>
													</div>
													<div class="col-md-1" *ngIf="coverMap.value">
														<a class="view-link" href="//{{coverMap.value}}" target="_blank"><i class="la la-2x la-eye"></i></a>
													</div>
												</div>
											</div>


											<div class="col-md-12 heading-wrapper">
												<div class="title-wrapper">
													<h5 class="pb-2">Addresses</h5>
													<h6>Home Address:</h6>
												</div>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Street name" #streetName formControlName="streetName" maxlength="250">
													<button mat-button *ngIf="streetName.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('streetName').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Street Name is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">Street Name</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Post code" #postCode formControlName="postCode" maxlength="250">
													<button mat-button *ngIf="postCode.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('postCode').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Post Code Name is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">Post Code</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="City" #city formControlName="city" maxlength="250">
													<button mat-button *ngIf="city.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('city').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														City is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">City</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="example-full-width">
													<input type="text"
														   placeholder="Country"
														   aria-label="Number"
														   #countryId matInput
														   [matAutocomplete]="countryAuto"
														   formControlName="countryId" (focusout)="controlFocusout('countryId')">
													<button mat-button *ngIf="countryId.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('countryId').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-autocomplete autoActiveFirstOption #countryAuto="matAutocomplete"
																	  [displayWith]="displayFn">
														<mat-option *ngFor="let t of filteredCountries | async" [value]="t">
															{{t.value}}
														</mat-option>
													</mat-autocomplete>
													<mat-error>
														Country is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">Country </strong>
													</mat-hint>
												</mat-form-field>
											</div>


											<div class="col-md-12 heading-wrapper">
												<div class="title-wrapper">
													<h6>Work / Clinic  Address:</h6>
												</div>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Clinic street name" #clinicStreetName formControlName="clinicStreetName" maxlength="250">
													<button mat-button *ngIf="clinicStreetName.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('clinicStreetName').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-hint align="start">
														<strong>Clinic Street Name</strong>
													</mat-hint>
													<mat-error>
														Clinic Street Name is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Clinic post code" #clinicPostCode formControlName="clinicPostCode" maxlength="250">
													<button mat-button *ngIf="clinicPostCode.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('clinicPostCode').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Clinic Post Code is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong>Clinic Post Code</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="example-full-width">
													<input type="text"
														   placeholder="Clinic city"														  
														   #clinicCity matInput														   
														   [formControlName]="'clinicCity'" (focusout)="controlFocusout('clinicCity')">
													<button mat-button *ngIf="clinicCity.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('clinicCity').setValue('')">
														<mat-icon>close</mat-icon>
													</button>
													
													<mat-error>
														Clinic City is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong>Clinic City </strong>
													</mat-hint>
												</mat-form-field>
											</div>

											<div class="col-md-12 heading-wrapper">
												<div class="title-wrapper">
													<h5>Notes</h5>
												</div>
											</div>
											<div class="col-md-6 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<textarea matInput rows="2" placeholder="Description" #description formControlName="description"></textarea>
													<button mat-button *ngIf="description.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('description').setValue('')">
														<mat-icon>close</mat-icon>
													</button>
													<mat-error>
														Description is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong>Description </strong>
													</mat-hint>
												</mat-form-field>
											</div>

											<div class="col-md-12 heading-wrapper">
												<div class="title-wrapper">
													<h5>Payments and Invoicing</h5>
												</div>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="example-full-width">
													<mat-select [formControlName]="'accountingCodeId'">
														<mat-option *ngFor="let val of accountCodesForFilter" [value]="val.id">
															{{ val.value }}
														</mat-option>
													</mat-select>
													<mat-error>
														Accounting Code is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">Accounting Code  {{professionalForm.get('accountingCodeId').value}}</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3" [hidden]="professionalForm.get('accountingCodeId').value !== 2">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Company name" #companyName formControlName="companyName" maxlength="250">
													<button mat-button *ngIf="companyName.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('companyName').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-hint align="start">
														<strong>Company Name</strong>
													</mat-hint>
													<mat-error>
														Company Name is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3" [hidden]="professionalForm.get('accountingCodeId').value !== '2'">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Company number" #companyNumber formControlName="companyNumber" maxlength="250">
													<button mat-button *ngIf="companyNumber.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('companyNumber').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-hint align="start">
														<strong>Company Number</strong>
													</mat-hint>
													<mat-error>
														Company Number is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>

											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Bank name" #bank formControlName="bank" maxlength="250">
													<button mat-button *ngIf="bank.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('bank').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Bank Name is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong>Bank Name</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Bank branch name" #branch formControlName="branch" maxlength="250">
													<button mat-button *ngIf="branch.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('branch').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Bank Branch Name is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong>Bank Branch Name</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Account name" #accountName formControlName="accountName" maxlength="250">
													<button mat-button *ngIf="accountName.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('accountName').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Account Name is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong>Account Name</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Account number" #accountNumber formControlName="accountNumber" maxlength="250">
													<button mat-button *ngIf="accountNumber.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('accountNumber').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Account Number is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong>Account Number</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Sort code" #sortCode formControlName="sortCode" mask="00-00-00" maxlength="250">
													<button mat-button *ngIf="sortCode.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('sortCode').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-hint align="start">
														<strong>Sort Code</strong>
													</mat-hint>
													<mat-error>
														Sort Code is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>

											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<textarea matInput rows="2" placeholder="Invoicing notes" #invoicingNotes formControlName="invoicingNotes"></textarea>
													<button mat-button *ngIf="invoicingNotes.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('invoicingNotes').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-hint align="start">
														<strong>Invoicing Notes </strong>
													</mat-hint>
													<mat-error>
														Invoicing Notes is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-12 heading-wrapper">
												<div class="title-wrapper">
													<h5 class="pb-2">HR Information</h5>
													<h6>Contract Information:</h6>
												</div>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="example-full-width">
													<mat-select [formControlName]="'activeCollaborationId'">
														<mat-option *ngFor="let val of collaborationCodesForFilter" [value]="val.id">
															{{ val.value }}
														</mat-option>
													</mat-select>
													<mat-error>
														Active Collaboration is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">Active Collaboration </strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput
														   #contractDate
														   placeholder="Contract date"
														   [formControlName]="'contractDate'"
														   bsDatepicker [bsConfig]="datePickerConfig" />
													<button mat-button *ngIf="contractDate.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('contractDate').setValue('')">
														<mat-icon>close</mat-icon>
													</button>
													
													<mat-error>
														Contract Date is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong> Contract Date</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput
														   #contractEndDate
														   placeholder="Contract end date"
														   [formControlName]="'contractEndDate'"
														   bsDatepicker [bsConfig]="datePickerConfig" />
													<button mat-button *ngIf="contractEndDate.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('contractEndDate').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Contract End Date is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong> Contract End Date</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field>
													<mat-select class="mat-form-field mat-form-field-fluid" [formControlName]="'clinicAgreement'">
														<mat-option value="">Pick an option</mat-option>
														<mat-option value="0">No</mat-option>
														<mat-option value="1">Yes</mat-option>
													</mat-select>
													<mat-error>
														Clinic Agreement is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong>Clinic Agreement </strong>option
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput #firstContactDate
														   placeholder="First contact date"
														   [formControlName]="'firstContactDate'"
														   bsDatepicker [bsConfig]="datePickerConfig" />
													<button mat-button *ngIf="firstContactDate.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('firstContactDate').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														First Contact Date is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">First Contact Date</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput
														   #lastContactDate
														   placeholder="Last contact date"
														   [formControlName]="'lastContactDate'"
														   bsDatepicker [bsConfig]="datePickerConfig" />
													<button mat-button *ngIf="lastContactDate.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('lastContactDate').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Last Contact Date is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong> Last Contact Date</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-12 heading-wrapper">
												<div class="title-wrapper">
													<h6>Application:</h6>
												</div>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="example-full-width">
													<mat-select [formControlName]="'applicationMethodId'">
														<mat-option *ngFor="let val of applicationMethodsForFilter" [value]="val.id">
															{{ val.value }}
														</mat-option>
													</mat-select>
													<mat-error>
														Application Method is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong>application method </strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="example-full-width">
													<mat-select [formControlName]="'applicationMeansId'">
														<mat-option *ngFor="let val of applicationMeansForFilter" [value]="val.id">
															{{ val.value }}
														</mat-option>
													</mat-select>
													<mat-error>
														Application Means is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong class="required-star">Application Means </strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Referring Colleague" #colleagueReferring formControlName="colleagueReferring" maxlength="250">
													<button mat-button *ngIf="colleagueReferring.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('colleagueReferring').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Referring Colleague is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong>Referring Colleague Name</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-12 heading-wrapper">
												<div class="title-wrapper">
													<h6>HR Status:</h6>
												</div>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput placeholder="Work place info" #workPlace formControlName="workPlace" maxlength="250">
													<button mat-button *ngIf="workPlace.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('workPlace').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Work place info is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong>Work Place Info</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="mat-form-field-fluid">
													<input matInput
														   placeholder="Insurance expiry date"
														   #insuranceExpiryDate
														   [formControlName]="'insuranceExpiryDate'"
														   bsDatepicker [bsConfig]="datePickerConfig" />
													<button mat-button *ngIf="insuranceExpiryDate.value" matSuffix mat-icon-button aria-label="Clear" (click)="getControl('insuranceExpiryDate').setValue('')">
														<mat-icon>close</mat-icon>
													</button>

													<mat-error>
														Insurance Expiry Date is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong> Insurance Expiry Date</strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="example-full-width">
													<mat-select [formControlName]="'contractStatusId'">
														<mat-option *ngFor="let val of contractStatusForFilter" [value]="val.id">
															{{ val.value }}
														</mat-option>
													</mat-select>
													<mat-hint align="start">
														<strong>Contract Status </strong>
													</mat-hint>
													<mat-error>
														Contract Status is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="common-form-field">
													<mat-select [formControlName]="'documentListSentId'">
														<mat-option *ngFor="let val of documentListSentOptionsForFilter" [value]="val.id">
															{{ val.value }}
														</mat-option>
													</mat-select>
													<mat-hint align="start">
														<strong class="required-star">Document List Sent </strong>
													</mat-hint>
													<mat-error>
														Document List Sent is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field>
													<mat-select class="mat-form-field mat-form-field-fluid" [formControlName]="'calendarActivation'">
														<mat-option value="0">No</mat-option>
														<mat-option value="1">Yes</mat-option>
													</mat-select>
													<mat-error>
														Calendar activation is
														<strong>required</strong>
													</mat-error>
													<mat-hint align="start">
														<strong>Calendar Actication </strong>
													</mat-hint>
												</mat-form-field>
											</div>
											<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
												<mat-form-field class="common-form-field">
													<mat-select [formControlName]="'protaxCodeId'">
														<mat-option *ngFor="let val of protaxCodesForFilter" [value]="val.id">
															{{ val.value }}
														</mat-option>
													</mat-select>
													<mat-hint align="start">
														<strong>Tax Code </strong>
													</mat-hint>
													<mat-error>
														Tax Code is
														<strong>required</strong>
													</mat-error>
												</mat-form-field>
											</div>
											<div class="col-md-12 kt-margin-bottom-10-mobile mt-4 pl-0 pr-0" *ngIf="professional && professional.id">
												<professional-connected-services [proId]="professional.id"></professional-connected-services>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</kt-portlet>
				</ng-template>
			</mat-tab>

			<mat-tab label="Connected Customers" [disabled]='professional && professional.id ===0 '>
				<ng-template matTabContent>
					<connected-customers [proId]="proId"></connected-customers>
				</ng-template>
			</mat-tab>
			<mat-tab label="Connected Bookings" [disabled]='professional && professional.id ===0 '>
				<ng-template matTabContent>
					<connected-bookings [proId]="proId"></connected-bookings>
				</ng-template>
			</mat-tab>
			<mat-tab label="Connected Invoices" [disabled]='professional && professional.id ===0 '>
				<ng-template matTabContent>
					<connected-invoices [proId]="proId"></connected-invoices>
				</ng-template>
			</mat-tab>
			<mat-tab label="Leads" [disabled]='professional && professional.id ===0 '>
				<ng-template matTabContent>
					<connected-leads [proId]="proId"></connected-leads>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
