<kt-portlet>
	<kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the products list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<!--<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Reset</span>
			</a>-->
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
				<span class="kt-hidden-mobile">Save</span>
			</a>
			<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
				<!--<button mat-menu-item color="primary">Save & Duplicate</button>-->
				<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>

	<mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="tabChanged($event)">
		<mat-tab label="Invoice Entity Info">
			<ng-template matTabContent>
				<kt-portlet-body class="pt-0">
					<div *ngIf="invoiceEntity">
						<form [formGroup]="invoiceEntityForm" class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="kt-form__group pt-1">
									<div class="form-group kt-form__group row" *ngIf="invoiceEntity.id">
										<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
											<label class="font-500">Created : </label> {{invoiceEntity.createDate | date:'dd/MM/yyyy HH:mm:ss'}}
										</div>
										<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
											<label class="font-500">Last Changed : </label> {{invoiceEntity.updateDate | date:'dd/MM/yyyy HH:mm:ss'}}
										</div>
										<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
											<label class="font-500">Assigned To : </label> <span class="text-capitalize">{{invoiceEntity.assignedTo}}</span>
										</div>

									</div>
									<div class="row">
										<div class="col-md-12 heading-wrapper mt-0">
											<div class="title-wrapper">
												<h5>Personal Information</h5>
											</div>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Invoice entity name" #name formControlName="name" maxlength="250">
												<button mat-button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('name').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Invoice Entity Name is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong class="required-star">Invoice Entity Name</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Main phone" #mainPhoneNumber formControlName="mainPhoneNumber">
												<button mat-button *ngIf="mainPhoneNumber.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('mainPhoneNumber').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-hint align="start">
													<strong class="required-star">Main Phone Number</strong>
												</mat-hint>
												<mat-error *ngIf="invoiceEntityForm.get('mainPhoneNumber').errors?.required">
													Main phone is
													<strong>required</strong>
												</mat-error>
												<mat-error *ngIf="invoiceEntityForm.get('mainPhoneNumber').errors?.pattern">
													Main phone should contain
													<strong><i class="la la-plus"></i> sign or numbers only </strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Main phone owner" #mainPhoneNumberOwner formControlName="mainPhoneNumberOwner">
												<button mat-button *ngIf="mainPhoneNumberOwner.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('mainPhoneNumberOwner').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Main Phone Owner is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Main Phone Owner</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Phone 2" #phone2 formControlName="phone2">
												<button mat-button *ngIf="phone2.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('phone2').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-hint align="start">
													<strong>Phone 2</strong>
												</mat-hint>
												<mat-error *ngIf="invoiceEntityForm.get('phone2').errors?.required">
													Phone 2 is
													<strong>required</strong>
												</mat-error>
												<mat-error *ngIf="invoiceEntityForm.get('phone2').errors?.pattern">
													Phone 2 should contain
													<strong><i class="la la-plus"></i> sign or numbers only </strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Phone 2 owner" #phone2Owner formControlName="phone2Owner">
												<button mat-button *ngIf="phone2Owner.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('phone2Owner').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Phone 2 Owner is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Phone 2 Owner</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Phone 3" #phone3 formControlName="phone3">
												<button mat-button *ngIf="phone3.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('phone3').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-hint align="start">
													<strong>Phone 3</strong>
												</mat-hint>
												<mat-error *ngIf="invoiceEntityForm.get('phone3').errors?.required">
													Phone 3 is
													<strong>required</strong>
												</mat-error>
												<mat-error *ngIf="invoiceEntityForm.get('phone3').errors?.pattern">
													Phone 3 should start with
													<strong><i class="la la-plus"></i> sign and numbers only </strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Phone 3 owner" #phone3Owner formControlName="phone3Owner">
												<button mat-button *ngIf="phone3Owner.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('phone3Owner').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Phone 3 Owner is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Phone 3 Owner</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<mat-select [formControlName]="'ieTypeId'">
													<mat-option *ngFor="let val of ieTypeOptions" [value]="val.id">
														{{ val.value }}
													</mat-option>
												</mat-select>
												<mat-hint align="start">
													<strong>Invoice Entity Type  </strong>
												</mat-hint>
												<mat-error>
													Invoice Entity Typeis
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<mat-select [formControlName]="'ratingId'">
													<mat-option *ngFor="let val of ratingOptions" [value]="val.id">
														{{ val.value }}
													</mat-option>
												</mat-select>
												<mat-hint align="start">
													<strong> Rating </strong>
												</mat-hint>
												<mat-error>
													Rating is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<mat-select [formControlName]="'relationshipWithCustomerId'">
													<mat-option *ngFor="let val of relationshipsForFilter" [value]="val.id">
														{{ val.value }}
													</mat-option>
												</mat-select>
												<mat-hint align="start">
													<strong> Relationship with Customer </strong>
												</mat-hint>
												<mat-error>
													Relationship with Customer is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>


										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div class="row">
												<div class="col-md-8">
													<mat-form-field class="mat-form-field-fluid">
														<input matInput placeholder="Email" #email formControlName="email">
														<button mat-button *ngIf="email.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('email').setValue('')">
															<mat-icon>close</mat-icon>
														</button>
														<mat-error *ngIf="invoiceEntityForm.get('email').errors?.required">
															Email
															<strong>required</strong>
														</mat-error>
														<mat-error *ngIf="invoiceEntityForm.get('email').errors?.email">
															Invalid
															<strong>Email</strong>
														</mat-error>
														<mat-hint align="start">
															<strong>Email</strong>
														</mat-hint>
													</mat-form-field>
												</div>
												<div class="col-md-4">
													<button class="btn btn-primary btn-sm">Send Email</button>
												</div>
											</div>

										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div class="row">
												<div class="col-md-8">
													<mat-form-field class="mat-form-field-fluid">
														<input matInput placeholder="Email 2" #email2 formControlName="email2">
														<button mat-button *ngIf="email2.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('email2').setValue('')">
															<mat-icon>close</mat-icon>
														</button>
														<mat-error *ngIf="invoiceEntityForm.get('email2').errors?.required">
															Email 2
															<strong>required</strong>
														</mat-error>
														<mat-error *ngIf="invoiceEntityForm.get('email2').errors?.email">
															Invalid
															<strong>Email 2</strong>
														</mat-error>
														<mat-hint align="start">
															<strong>Email 2</strong>
														</mat-hint>
													</mat-form-field>
												</div>
												<div class="col-md-4">
													<button class="btn btn-primary btn-sm">Send Email</button>
												</div>
											</div>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Fax" #fax formControlName="fax">
												<button mat-button *ngIf="fax.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('fax').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Fax is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Fax</strong>
												</mat-hint>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput
													   #dateOfBirth
													   placeholder="Date of birth"
													   [formControlName]="'dateOfBirth'"
													   bsDatepicker
													   [bsConfig]="datePickerConfig"
													   [dateCustomClasses]="dateCustomClasses">
												<button mat-button *ngIf="dateOfBirth.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('dateOfBirth').setValue('')">
													<mat-icon>close</mat-icon>
												</button>

												<mat-error>
													Date of birth
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Date of Birth</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text"
													   placeholder="Country of birth"
													   aria-label="Number" matInput
													   #countryOfBirthId
													   [matAutocomplete]="countryOfBirthAuto"
													   [formControlName]="'countryOfBirthId'"
													   (focusout)="controlFocusout('countryOfBirthId')">

												<button mat-button *ngIf="countryOfBirthId.value"
														matSuffix mat-icon-button aria-label="Clear"
														(click)="invoiceEntityForm.get('countryOfBirthId').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-autocomplete autoActiveFirstOption #countryOfBirthAuto="matAutocomplete"
																  [displayWith]="displayFn">
													<mat-option *ngFor="let t of filteredCountriesOfBirth | async" [value]="t">
														{{t.value}}
													</mat-option>
												</mat-autocomplete>
												<mat-hint align="start">
													<strong>Country </strong>
												</mat-hint>
												<mat-error>
													Country is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Person of reference name" #personOfReference formControlName="personOfReference">
												<button mat-button *ngIf="personOfReference.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('personOfReference').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Person of Reference Name is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Person of Reference Name</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Person of reference email" #personOfReferenceEmail formControlName="personOfReferenceEmail">
												<button mat-button *ngIf="personOfReferenceEmail.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('personOfReferenceEmail').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error *ngIf="invoiceEntityForm.get('personOfReferenceEmail').errors?.required">
													Pseron of Reference Email
													<strong>required</strong>
												</mat-error>
												<mat-error *ngIf="invoiceEntityForm.get('personOfReferenceEmail').errors?.email">
													Invalid
													<strong>Pseron of Reference Email</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Pseron of Reference Email</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Tel. person of reference" #personOfReferencePhone formControlName="personOfReferencePhone">
												<button mat-button *ngIf="personOfReferencePhone.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('personOfReferencePhone').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Tel. Person of Reference is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Tel. Person of Reference</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<textarea matInput rows="2" placeholder="Description" #description formControlName="description"></textarea>
												<button mat-button *ngIf="description.value" matSuffix mat-icon-button aria-label="Clear" (click)="leadForm.get('description').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Description is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Description</strong>
												</mat-hint>
											</mat-form-field>
										</div>


									</div>
									<div class="row">
										<div class="col-md-12 heading-wrapper mt-4">
											<div class="title-wrapper">
												<h5>Billing Address Information</h5>
											</div>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input type="text" matInput placeholder="Billing address street name" #billingAddress formControlName="billingAddress">
												<button mat-button *ngIf="billingAddress.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('billingAddress').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Billing Address Street Name is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Billing Address Street Name</strong>
												</mat-hint>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Billing post code" #billingPostCode formControlName="billingPostCode">
												<button mat-button *ngIf="billingPostCode.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('billingPostCode').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Billing Post Code is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>Street Name</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text"
													   placeholder="Pick a city / town"
													   aria-label="Number" matInput
													   #billingCity
													   [formControlName]="'billingCity'">
												<button mat-button *ngIf="billingCity.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('billingCity').setValue('')">
													<mat-icon>close</mat-icon>
												</button>

												<mat-hint align="start">
													<strong>Billing City/Town </strong>
												</mat-hint>
												<mat-error>
													Billing City/Town is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text"
													   placeholder="Pick country of birth"
													   aria-label="Number"
													   matInput #billingCountryId
													   [matAutocomplete]="billingCountryAuto"
													   [formControlName]="'billingCountryId'" (focusout)="controlFocusout('billingCountryId')">
												<button mat-button *ngIf="billingCountryId.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('billingCountryId').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-autocomplete autoActiveFirstOption #billingCountryAuto="matAutocomplete" [displayWith]="displayFn">
													<mat-option *ngFor="let t of filteredBillingCountries | async" [value]="t">
														{{t.value}}
													</mat-option>
												</mat-autocomplete>
												<mat-hint align="start">
													<strong>Billing Country </strong>
												</mat-hint>
												<mat-error>
													Billing Country is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 heading-wrapper mt-4">
											<div class="title-wrapper">
												<h5>Mailing Address Information</h5>
											</div>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input type="text" matInput placeholder="Enter mailing address street name" #mailingAddress formControlName="mailingAddress">
												<button mat-button *ngIf="mailingAddress.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('mailingAddress').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Mailing Address Street Name is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>Mailing Address Street Name</strong>
												</mat-hint>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Enter mailing post code" #mailingPostCode formControlName="mailingPostCode">
												<button mat-button *ngIf="mailingPostCode.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('mailingPostCode').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Mailing Post Code is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>Street Name</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text"
													   placeholder="Pick a city / town"
													   aria-label="Number" matInput
													   #mailingCity
													   [formControlName]="'mailingCity'">
												<button mat-button *ngIf="mailingCity.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('mailingCity').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-hint align="start">
													Select a <strong>Mailing City/Town </strong>
												</mat-hint>
												<mat-error>
													Mailing City/Town is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text"
													   placeholder="Pick country of birth"
													   aria-label="Number" matInput
													   #mailingCountryId [matAutocomplete]="mailingCountryAuto"
													   [formControlName]="'mailingCountryId'" (focusout)="controlFocusout('mailingCountryId')">
												<button mat-button *ngIf="mailingCountryId.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('mailingCountryId').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-autocomplete autoActiveFirstOption #mailingCountryAuto="matAutocomplete" [displayWith]="displayFn">
													<mat-option *ngFor="let t of filteredMailingCountries | async" [value]="t">
														{{t.value}}
													</mat-option>
												</mat-autocomplete>
												<mat-hint align="start">
													Select a <strong>Mailing Country </strong>
												</mat-hint>
												<mat-error>
													Mailing Country is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 heading-wrapper mt-4">
											<div class="title-wrapper">
												<h5>Payment and Invoicing</h5>
											</div>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Enter vat number" #vatNumber formControlName="vatNumber">
												<button mat-button *ngIf="vatNumber.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('vatNumber').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Vat Number is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>Vat Number</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<mat-select [formControlName]="'paymentMethodId'">
													<mat-option *ngFor="let val of paymentMethodOptions" [value]="val.id">
														{{ val.value }}
													</mat-option>
												</mat-select>
												<mat-hint align="start">
													Select a <strong> Payment Method </strong>
												</mat-hint>
												<mat-error>
													Payment Method is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div>Insurance Covered:</div>
											<mat-radio-group class="example-radio-group" formControlName="insuranceCoverId">
												<mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
												<mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
											</mat-radio-group>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<mat-select [formControlName]="'discountNetworkId'">
													<mat-option *ngFor="let val of discountNetworkOptions" [value]="val.id">
														{{ val.value }}
													</mat-option>
												</mat-select>
												<mat-hint align="start">
													Select a <strong>Discount Network </strong>
												</mat-hint>
												<mat-error>
													Discount Network is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput type="number" placeholder="Enter discount" #discountPercent formControlName="discountPercent">
												<button mat-button *ngIf="discountPercent.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('discountPercent').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Discount is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>Discount</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Bank Name" #bank formControlName="bank">
												<button mat-button *ngIf="bank.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('bank').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Bank Name is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>Bank Name</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Account Number" #accountNumber formControlName="accountNumber">
												<button mat-button *ngIf="accountNumber.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('accountNumber').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Account Number is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>Account Number</strong>
												</mat-hint>
											</mat-form-field>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Enter sortCode info" #sortCode formControlName="sortCode">
												<button mat-button *ngIf="sortCode.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('sortCode').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Sort Code is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>Sort Code</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Enter IBAN" #iban formControlName="iban">
												<button mat-button *ngIf="iban.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('iban').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													IBAN is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>IBAN</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div>Black Listed:</div>
											<mat-radio-group class="example-radio-group" formControlName="blackListId">
												<mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
												<mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
											</mat-radio-group>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div>Contracted:</div>
											<mat-radio-group class="example-radio-group" formControlName="contractedId">
												<mat-radio-button class="example-radio-button" value="0">No</mat-radio-button>
												<mat-radio-button class="example-radio-button" value="1">Yes</mat-radio-button>
											</mat-radio-group>
										</div>

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<textarea matInput rows="2" placeholder="Enter invoicing notes" #invoicingNotes formControlName="invoicingNotes"></textarea>
												<button mat-button *ngIf="invoicingNotes.value" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceEntityForm.get('invoicingNotes').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-error>
													Invoicing Notes is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>Invoicing Notes</strong>
												</mat-hint>
											</mat-form-field>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</kt-portlet-body>
			</ng-template>
		</mat-tab>

		<mat-tab label="Requested Services" [disabled]='!(invoiceEntity && invoiceEntity.id)'>
			<ng-template matTabContent>
				<invoice-entity-connected-services [ieId]="invoiceEntity.id"></invoice-entity-connected-services>
			</ng-template>
		</mat-tab>
		<mat-tab label="Connected Customers" [disabled]='!(invoiceEntity && invoiceEntity.id)'>
			<ng-template matTabContent>
				<invoice-entity-connected-customers [ieId]="invoiceEntity.id"></invoice-entity-connected-customers>
			</ng-template>
		</mat-tab>
		<mat-tab label="Connected Professionals" [disabled]='!(invoiceEntity && invoiceEntity.id)'>
			<ng-template matTabContent>
				<invoice-entity-connected-professionals [ieId]="invoiceEntity.id"></invoice-entity-connected-professionals>
			</ng-template>
		</mat-tab>
		<mat-tab label="Bookings" [disabled]='!(invoiceEntity && invoiceEntity.id)'>
			<ng-template matTabContent>
				<invoice-entity-connected-bookings [ieId]="invoiceEntity.id"></invoice-entity-connected-bookings>
			</ng-template>
		</mat-tab>
		<mat-tab label="Invoices" [disabled]='!(invoiceEntity && invoiceEntity.id)'>
			<ng-template matTabContent>
				<invoice-entity-connected-invoices [ieId]="invoiceEntity.id"></invoice-entity-connected-invoices>
			</ng-template>
		</mat-tab>
		<mat-tab label="Leads" [disabled]='!(invoiceEntity && invoiceEntity.id)'>
			<ng-template matTabContent>
				<invoice-entity-connected-leads [ieId]="invoiceEntity.id"></invoice-entity-connected-leads>
			</ng-template>
		</mat-tab>

	</mat-tab-group>
</kt-portlet>
