<div class="kt-portlet"
	 [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label custom-header">
			<h3 class="kt-portlet__head-title">
				<span>Attach Profession to Services</span>
				<a href="javascript:;" class="btn btn-secondary kt-margin-r-10 pull-right" (click)="save()" mat-raised-button matTooltip="Save">
					<span class="kt-hidden-mobile">Save</span>
				</a>
			</h3>
		</div>
	</div>

	<div class="kt-portlet__body">

		<div class="form-group kt-form__group row" [hidden]="viewLoading">
			<div class="col-sm-3 kt-margin-bottom-20-mobile">
				<mat-form-field class="example-full-width">
					<input type="text" placeholder="Service" aria-label="Number" matInput [matAutocomplete]="serviceAuto" [formControl]="serviceControl">
					<button mat-button *ngIf="serviceControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="serviceControl.setValue('')">
						<mat-icon>close</mat-icon>
					</button>
					<mat-autocomplete autoActiveFirstOption
									  #serviceAuto="matAutocomplete"
									  (closed)="serviceControlClosed()"
									  [displayWith]="displayFn">
						<mat-option *ngFor="let elem of filteredServices | async" [value]="elem">
							{{elem.value}}
						</mat-option>
					</mat-autocomplete>
					<mat-hint align="start">
						Select a <strong>Service </strong>
					</mat-hint>
					<mat-error>
						Service is
						<strong>required</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-sm-3 kt-margin-bottom-20-mobile">
				<mat-form-field class="example-full-width">
					<input type="text" placeholder="Field" aria-label="Number" matInput [matAutocomplete]="fieldAuto" [formControl]="fieldControl">
					<button mat-button *ngIf="fieldControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="fieldControl.setValue('')">
						<mat-icon>close</mat-icon>
					</button>
					<mat-autocomplete autoActiveFirstOption
									  #fieldAuto="matAutocomplete"
									  (closed)="serviceControlClosed()"
									  [displayWith]="displayFn">
						<mat-option *ngFor="let elem of filteredFields | async" [value]="elem">
							{{elem.value}}
						</mat-option>
					</mat-autocomplete>
					<mat-hint align="start">
						Select a <strong>Field </strong>
					</mat-hint>
					<mat-error>
						Field is
						<strong>required</strong>
					</mat-error>
				</mat-form-field>
			</div>

			<div class="col-sm-3 kt-margin-bottom-20-mobile">
				<mat-form-field class="example-full-width">
					<input type="text" placeholder="Subcategory" aria-label="Number" matInput [matAutocomplete]="subCatAuto" [formControl]="subCategoryControl">
					<button mat-button *ngIf="subCategoryControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="subCategoryControl.setValue('')">
						<mat-icon>close</mat-icon>
					</button>
					<mat-autocomplete autoActiveFirstOption
									  #subCatAuto="matAutocomplete"
									  (closed)="serviceControlClosed()"
									  [displayWith]="displayFn">
						<mat-option *ngFor="let elem of filteredSubcategories | async" [value]="elem">
							{{elem.value}}
						</mat-option>
					</mat-autocomplete>
					<mat-hint align="start">
						Select a <strong>Subcategory </strong>
					</mat-hint>
					<mat-error>
						Subcategory is
						<strong>required</strong>
					</mat-error>
				</mat-form-field>
			</div>

			<div class="col-sm-3 kt-margin-bottom-20-mobile">
				<mat-form-field class="example-full-width">
					<input type="text" placeholder="Tag" aria-label="Number" matInput [formControl]="tagControl">
					<button mat-button *ngIf="tagControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="tagControl.setValue('')">
						<mat-icon>close</mat-icon>
					</button>
					
					<mat-hint align="start">
						Enter <strong>Tag </strong>
					</mat-hint>
					<mat-error>
						Tag is
						<strong>required</strong>
					</mat-error>
				</mat-form-field>
			</div>


			<div class="col-sm-12 kt-margin-bottom-20-mobile mt-3">
				<table mat-table [dataSource]="dataSource" matSort>

					<!-- Checkbox Column -->
					<ng-container matColumnDef="select">
						<th mat-header-cell *matHeaderCellDef>
							<mat-checkbox (change)="$event ? masterToggle() : null"
										  [checked]="selection.hasValue() && isAllSelected()"
										  [indeterminate]="selection.hasValue() && !isAllSelected()"
										  [aria-label]="checkboxLabel()">
							</mat-checkbox>
						</th>
						<td mat-cell *matCellDef="let row">
							<mat-checkbox (click)="$event.stopPropagation()"
										  (change)="$event ? selection.toggle(row) : null"
										  [checked]="selection.isSelected(row)"
										  [aria-label]="checkboxLabel(row)">
							</mat-checkbox>
						</td>
					</ng-container>

					<ng-container matColumnDef="id">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Id </th>
						<td mat-cell *matCellDef="let element"> {{element.id}} </td>
					</ng-container>

					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
						<td mat-cell *matCellDef="let element"> {{element.name}} </td>
					</ng-container>

					<ng-container matColumnDef="field">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Field </th>
						<td mat-cell *matCellDef="let element"> {{element.field}} </td>
					</ng-container>

					<ng-container matColumnDef="subCategory">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategory </th>
						<td mat-cell *matCellDef="let element"> {{element.subCategory}} </td>
					</ng-container>

					<ng-container matColumnDef="tags">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Tags </th>
						<td mat-cell *matCellDef="let element"> {{element.tags}} </td>
					</ng-container>

					<ng-container matColumnDef="proFeeA2">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Pro Fee A2 </th>
						<td mat-cell *matCellDef="let element"> {{element.proFeeA2}} </td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"
						(click)="selection.toggle(row)"></tr>
				</table>
				<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</div>

		</div>

		<div class="form-group kt-form__group row" [hidden]="!viewLoading">
			<div class="col-xl-12 p-5">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>
		</div>
	</div>
</div>
