.customer-header {
	width: 100%;
	display: table !important;
	padding-top: 2em;
	position: relative;

	.btn {
		position: relative;
		bottom: 0.9em;
	}
}


table {
	width: 100%;
}

.mat-spinner {
	margin: 0 auto;
}

.mat-form-field{
	width: 100%;
}
