<kt-portlet>
	<div class="col-md-12 kt-margin-bottom-10-mobile pt-3 text-right custom-header">
		<div class="example-button-row">
			<h5 class="connect-header">
				<span>Customer Fees</span>
				<a href="javascript:;" class="btn btn-default kt-margin-r-10 pull-right add-service" [routerLink]="['/fee-management/fees/add']" mat-raised-button matTooltip="Create New Fee">
					<i class="la la-pencil-square-o"></i>
					<span class="kt-hidden-mobile">Create New</span>
				</a>
				<a href="javascript:;" class="btn btn-default kt-margin-r-10 pull-right add-service" (click)="addService()" mat-raised-button matTooltip="Add Service">
					<span class="kt-hidden-mobile">Attach Fee</span>
				</a>
			</h5>
		</div>
	</div>
	<div class="kt-form pt-2 pb-2">
		<div class="row align-items-center collapse kt-form__group-actions mb-2" [ngClass]="{'show' : selection.selected.length > 0}">
			<div class="col-xl-12">
				<button (click)="detachServices()" mat-raised-button color="accent" matTooltip="Delete selected connected services" class="mat-button-mt-4 ml-2">
					<mat-icon>delete</mat-icon>	Detach All
				</button>&nbsp;
			</div>
		</div>
	</div>


	<table mat-table [dataSource]="dataSource" matSort class="lmat-elevation-z8">
		<!-- Checkbox Column -->
		<ng-container matColumnDef="select">
			<th mat-header-cell *matHeaderCellDef>
				<mat-checkbox (change)="$event ? masterToggle() : null"
							  [checked]="selection.hasValue() && isAllSelected()"
							  [indeterminate]="selection.hasValue() && !isAllSelected()"
							  [aria-label]="checkboxLabel()">
				</mat-checkbox>
			</th>
			<td mat-cell *matCellDef="let row">
				<mat-checkbox (click)="$event.stopPropagation()"
							  (change)="$event ? selection.toggle(row) : null"
							  [checked]="selection.isSelected(row)"
							  [aria-label]="checkboxLabel(row)">
				</mat-checkbox>
			</td>
		</ng-container>

		<ng-container matColumnDef="ptFeeName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Fee Name </th>
			<td mat-cell *matCellDef="let element" class="text-capitalize"> {{element.ptFeeName}} </td>
		</ng-container>

		<ng-container matColumnDef="professionals">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Connected Professionals </th>
			<td mat-cell *matCellDef="let element" class="text-capitalize"> {{element.professionals}} </td>
		</ng-container>

		<ng-container matColumnDef="ptFeeA1">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Pt. fee A1 </th>
			<td mat-cell *matCellDef="let element" class="text-capitalize"> {{element.ptFeeA1 | number: '1.2-2'}} </td>
		</ng-container>

		<ng-container matColumnDef="ptFeeA2">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Pt. fee A2</th>
			<td mat-cell *matCellDef="let element" class="text-capitalize"> {{element.ptFeeA2 | number: '1.2-2'}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</kt-portlet>

