<kt-portlet>
	<kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'"
		[viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10" mat-raised-button
				matTooltip="Back to the services list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()"
				[disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Reset</span>
			</a>
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)"
				*ngIf="selectedTab == 0" mat-raised-button matTooltip="Save & Continue">
				<i class="la la-save"></i>
				<span class="kt-hidden-mobile">Save</span>
			</a>
			<!--<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
				<mat-icon>more_vert</mat-icon>
			</button>-->
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
				<button mat-menu-item color="primary">Save & Duplicate</button>
				<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>
	<mat-tab-group [(selectedIndex)]="selectedTab" *ngIf="service" (selectedTabChange)="tabChanged($event)">
		<mat-tab label="Service Info">
			<ng-template matTabContent>
				<kt-portlet-body class="pt-0">
					<div *ngIf="service">
						<!--begin::Form-->
						<form [formGroup]="serviceForm" class="kt-form kt-form--group-seperator-dashed">

							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
								(close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>

							<div class="kt-form__section kt-form__section--first">
								<div class="kt-form__group pt-0">
									<div class="row" *ngIf="service.id">
										<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
											<label class="font-500">Service Code : </label> {{ service.serviceCode }}
										</div>
										<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
											<label class="font-500">Created : </label>
											{{service.createDate | date:'dd/MM/yyyy'}}
										</div>
										<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
											<label class="font-500">Starting Date : </label>
											{{service.createDate | date:'dd/MM/yyyy'}}
										</div>
										<div class="col-md-3 kt-margin-bottom-20-mobile pt-3">
											<label class="font-500">Last Modified : </label>
											{{service.updateDate | date:'dd/MM/yyyy'}}
										</div>
									</div>

									<div class="row">
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<input matInput placeholder="Name" formControlName="name">
												<mat-error>
													Name is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													<strong>Name</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div>Cycle:</div>
											<mat-radio-group formControlName="cycleId">
												<mat-radio-button class="example-radio-button" value="0">No
												</mat-radio-button>
												<mat-radio-button class="example-radio-button" value="1">Yes
												</mat-radio-button>
											</mat-radio-group>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div>Active Service:</div>
											<mat-radio-group formControlName="activeServiceId">
												<mat-radio-button class="example-radio-button" value="0">No
												</mat-radio-button>
												<mat-radio-button class="example-radio-button" value="1">Yes
												</mat-radio-button>
											</mat-radio-group>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div>Timed Service:</div>
											<mat-radio-group formControlName="timedServiceId">
												<mat-radio-button class="example-radio-button" value="0">No
												</mat-radio-button>
												<mat-radio-button class="example-radio-button" value="1">Yes
												</mat-radio-button>
											</mat-radio-group>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div>Contracted Service:</div>
											<mat-radio-group formControlName="contractedServiceId">
												<mat-radio-button class="example-radio-button" value="0">No
												</mat-radio-button>
												<mat-radio-button class="example-radio-button" value="1">Yes
												</mat-radio-button>
											</mat-radio-group>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div>Informed Consent:</div>
											<mat-radio-group formControlName="informedConsentId">
												<mat-radio-button class="example-radio-button" value="0">No
												</mat-radio-button>
												<mat-radio-button class="example-radio-button" value="1">Yes
												</mat-radio-button>
											</mat-radio-group>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text" placeholder="Field" aria-label="Number" matInput
													[matAutocomplete]="fieldAuto" [formControlName]="'fieldId'"
													(focusout)="controlFocusout('fieldId')">
												<mat-autocomplete autoActiveFirstOption #fieldAuto="matAutocomplete"
													(optionSelected)="loadCategoriesForFilter()"
													[displayWith]="displayFn">
													<mat-option *ngFor="let f of filteredFields | async" [value]="f">
														{{f.value}}
													</mat-option>
												</mat-autocomplete>
												<mat-hint align="start">
													<strong>Field </strong>
												</mat-hint>
												<mat-error>
													Field is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text" placeholder="Subcategory" aria-label="Number"
													matInput [matAutocomplete]="catAuto"
													[formControlName]="'subcategoryId'"
													(focusout)="controlFocusout('subcategoryId')">
												<mat-autocomplete autoActiveFirstOption #catAuto="matAutocomplete"
													[displayWith]="displayFn">
													<mat-option *ngFor="let cat of filteredCategories | async"
														[value]="cat">
														{{cat.value}}
													</mat-option>
												</mat-autocomplete>
												<mat-hint align="start">
													Select a <strong>Subcategory </strong>
												</mat-hint>
												<mat-error>
													Subcategory is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-chip-list">
												<mat-chip-list #chipList aria-label="Tag selection">
													<mat-chip *ngFor="let tag of tagsArray" [selectable]="selectable"
														[removable]="removable" (removed)="remove(tag)">
														{{tag}}
														<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
													</mat-chip>
													<input placeholder="Insert tags" [formControlName]="'tags'"
														[matChipInputFor]="chipList"
														[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
														[matChipInputAddOnBlur]="addOnBlur"
														(matChipInputTokenEnd)="add($event)">
												</mat-chip-list>
												<mat-hint align="start">
													Create <strong>Tags </strong> by hitting enter or separated by comma
												</mat-hint>
												<mat-error>
													Tag(s) are
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>



										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text" #durationId placeholder="Duration"
													aria-label="Number" matInput [matAutocomplete]="dAuto"
													[formControlName]="'durationId'"
													(focusout)="controlFocusout('durationId')">

												<button mat-button *ngIf="durationId.value" matSuffix mat-icon-button
													aria-label="Clear"
													(click)="serviceForm.get('durationId').setValue('')">
													<mat-icon>close</mat-icon>
												</button>
												<mat-autocomplete autoActiveFirstOption #dAuto="matAutocomplete"
													[displayWith]="displayFn">
													<mat-option *ngFor="let elem of filteredDurations | async"
														[value]="elem">
														{{elem.value}}
													</mat-option>
												</mat-autocomplete>
												<mat-hint align="start">
													Select a <strong>Duration </strong>
												</mat-hint>
												<mat-error>
													Duration is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="example-full-width">
												<input type="text" placeholder="Vat" aria-label="Number" matInput
													[matAutocomplete]="vatAuto" [formControlName]="'vatId'"
													(focusout)="controlFocusout('vatId')">
												<mat-autocomplete autoActiveFirstOption #vatAuto="matAutocomplete"
													[displayWith]="displayFn">
													<mat-option *ngFor="let elem of filteredVats | async"
														[value]="elem">
														{{elem.value}}
													</mat-option>
												</mat-autocomplete>
												<mat-hint align="start">
													Select a <strong>Vat </strong>
												</mat-hint>
												<mat-error>
													Vat is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<div class="row">
												<div [ngClass]="{'col-md-11': serviceForm.get('covermap').valid, 'col-md-12':!serviceForm.get('covermap').valid}">
													<mat-form-field class="mat-form-field-fluid">
														<input matInput placeholder="Covermap url" #covermap formControlName="covermap" maxlength="4000">
														<button mat-button *ngIf="covermap.value" matSuffix mat-icon-button aria-label="Clear" (click)="serviceForm.get('covermap').setValue('')">
															<mat-icon>close</mat-icon>
														</button>

														<mat-hint align="start">
															<strong>Covermap url</strong>
														</mat-hint>

														<mat-error *ngIf="serviceForm.get('covermap').error?.required">
															Covermap url is
															<strong>required</strong>
														</mat-error>
														<mat-error *ngIf="!serviceForm.get('covermap').error?.required">
															Invalid
															<strong>Covermap url</strong>
														</mat-error>
													</mat-form-field>
												</div>
												<div class="col-md-1" *ngIf="covermap.value">
													<a class="view-link" href="//{{covermap.value}}" target="_blank"><i class="la la-2x la-eye"></i></a>
												</div>
											</div>
										</div>
									</div>

									<div class="row">

										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<textarea matInput rows="2" placeholder="Invoicing notes"
													formControlName="invoicingNotes"></textarea>
												<mat-error>
													Invoicing Notes is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>Invoicing Notes</strong>
												</mat-hint>
											</mat-form-field>
										</div>
										<div class="col-md-4 kt-margin-bottom-10-mobile pt-3">
											<mat-form-field class="mat-form-field-fluid">
												<textarea matInput rows="2" placeholder="Refund notes"
													formControlName="refundNotes"></textarea>
												<mat-error>
													Refund Notes is
													<strong>required</strong>
												</mat-error>
												<mat-hint align="start">
													Please enter
													<strong>Refund Notes</strong>
												</mat-hint>
											</mat-form-field>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 kt-margin-bottom-10-mobile mt-4 pl-0 pr-0"
											*ngIf="service && service.id">
											<service-professional-connect-listing [serviceId]="service.id"
												(reloadData)="reloadAllData()" [changing]="changingValue">
											</service-professional-connect-listing>
										</div>

									</div>
									<div class="row">
										<div class="col-md-12 kt-margin-bottom-10-mobile mt-4 pl-0 pr-0"
											*ngIf="service && service.id">
											<service-connected-pt-fee-listing [serviceId]="service.id"
												(reloadData)="reloadAllData()" [changing]="changingValue">
											</service-connected-pt-fee-listing>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 kt-margin-bottom-10-mobile mt-4 pl-0 pr-0"
											*ngIf="service && service.id">
											<service-connected-pro-fee-listing [serviceId]="service.id"
												(reloadData)="reloadAllData()" [changing]="changingValue">
											</service-connected-pro-fee-listing>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</kt-portlet-body>
			</ng-template>
		</mat-tab>

		<mat-tab label="Connected Professionals" [disabled]='!(service && service.id)' title="Connected Professionals">
			<ng-template matTabContent>
				<service-professionals [serviceId]="serviceId"></service-professionals>
			</ng-template>
		</mat-tab>

		<mat-tab label="Connected Customer & Invoicing Entities" [disabled]='!(service && service.id)'
			title="Connected Customer & Invoicing Entities">
			<ng-template matTabContent>
				<connected-customers-invoicing-entities [serviceId]="serviceId">
				</connected-customers-invoicing-entities>
			</ng-template>
		</mat-tab>

		<mat-tab label="Connected Bookings" [disabled]='!(service && service.id)' title="Connected Bookings">
			<ng-template matTabContent>
				<service-connected-bookings [serviceId]="serviceId"></service-connected-bookings>
			</ng-template>
		</mat-tab>

		<mat-tab label="Connected Customer Invoices" [disabled]='!(service && service.id)'
			title="Connected Customer Invoices">
			<ng-template matTabContent>
				<service-connected-invoices [serviceId]="serviceId"></service-connected-invoices>
			</ng-template>
		</mat-tab>

		<mat-tab label="Leads" [disabled]='!(service && service.id)' title="Leads">
			<ng-template matTabContent>
				<service-connected-leads [serviceId]="serviceId"></service-connected-leads>
			</ng-template>
		</mat-tab>


	</mat-tab-group>
</kt-portlet>
