<div class="kt-portlet"
	 [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label customer-header">
			<h3 class="kt-portlet__head-title">
				Add/Update Fee to <strong>{{data.cService}}</strong>
				<a href="javascript:;"
				   class="btn btn-primary kt-margin-r-10 pull-right" [hidden]="viewLoading"
				   (click)="onSumbit(false)" mat-raised-button matTooltip="Save">
					<span class="kt-hidden-mobile">Save</span>
				</a>
			</h3>
		</div>
	</div>

	<div class="kt-portlet__body">
		<div *ngIf="feeForm">
			<form [formGroup]="feeForm" class="kt-form kt-form--group-seperator-dashed" *ngIf="!viewLoading">
				<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
					Oh snap! Change a few things up and try submitting again.
				</kt-alert>
				<div class="form-group row  justify-content-md-center">
					<div class="col-sm-6 col-sm-offset-3 kt-margin-bottom-20-mobile">
						<mat-form-field>
							<mat-select placeholder="Select an action" [formControl]="feeOption">
								<mat-option [value]="'0'">Existing Fee</mat-option>
								<mat-option [value]="'1'">New Fee</mat-option>
							</mat-select>
							<mat-hint align="start">
								Select an<strong>Option </strong>
							</mat-hint>
						</mat-form-field>
					</div>
				</div>

				<div class="form-group row" *ngIf="this.feeOption.value === '0'">
					<div class="col-sm-6 col-sm-offset-3 kt-margin-bottom-20-mobile">
						<mat-form-field class="example-full-width">
							<input type="text" placeholder="PT Fee" aria-label="Number" matInput [matAutocomplete]="ptAuto" #ptFeeId [formControlName]="'ptFeeId'">
							<button mat-button *ngIf="ptFeeId.value" matSuffix mat-icon-button aria-label="Clear" (click)="feeForm.get('ptFeeId').setValue('')">
								<mat-icon>close</mat-icon>
							</button>
							<mat-autocomplete autoActiveFirstOption #ptAuto="matAutocomplete"											  
											  [displayWith]="displayFn">
								<mat-option *ngFor="let elem of filteredPTFees | async" [value]="elem">
									{{elem.value}}
								</mat-option>
							</mat-autocomplete>
							<mat-hint align="start">
								Select a <strong>PT Fee </strong>
							</mat-hint>
							<mat-error>
								PT Fee is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div class="col-sm-6 col-sm-offset-3 kt-margin-bottom-20-mobile">
						<mat-form-field class="example-full-width">
							<input type="text" placeholder="PRO Fee" aria-label="Number" matInput [matAutocomplete]="proAuto" #proFeeId [formControlName]="'proFeeId'">
							<button mat-button *ngIf="proFeeId.value" matSuffix mat-icon-button aria-label="Clear" (click)="feeForm.get('proFeeId').setValue('')">
								<mat-icon>close</mat-icon>
							</button>
							<mat-autocomplete autoActiveFirstOption #proAuto="matAutocomplete"
											  [displayWith]="displayFn">
								<mat-option *ngFor="let elem of filteredPROFees | async" [value]="elem">
									{{elem.value}}
								</mat-option>
							</mat-autocomplete>
							<mat-hint align="start">
								Select a <strong>PRO Fee </strong>
							</mat-hint>
							<mat-error>
								PRO Fee is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>


				<div class="form-group row" *ngIf="this.feeOption.value === '1'">
					<div class="col-sm-6 col-sm-offset-3 kt-margin-bottom-20-mobile">
						<div class="form-group row">
							<div class="col-md-12 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="PT Fee Name" formControlName="ptFeeName" maxlength="250" />
									<mat-error>
										PT Fee Name is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>PT Fee Name</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-12 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput type="number" placeholder="PT Fee A1" formControlName="ptFeeA1">
									<mat-hint align="start">
										PT Fee
										<strong>A1</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-12 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput type="number" placeholder="PT Fee A2" formControlName="ptFeeA2">
									<mat-hint align="start">
										PT Fee
										<strong>A2</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-12 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-chip-list">
									<mat-chip-list #chipListPt aria-label="Pt fee tags">
										<mat-chip *ngFor="let tag of ptFeeTags" [selectable]="selectable"
												  [removable]="removable" (removed)="removePtTag(tag)">
											{{tag}}
											<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
										</mat-chip>
										<input placeholder="Insert tags"
											   [formControlName]="'ptFeeTags'"
											   [matChipInputFor]="chipListPt"
											   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
											   [matChipInputAddOnBlur]="addOnBlur"
											   (matChipInputTokenEnd)="addPtTag($event)">
									</mat-chip-list>
									<mat-hint align="start">
										Create <strong>Pt Fee Tags </strong> by hitting enter or separated by comma
									</mat-hint>
									<mat-error>
										Pt Fee Tag(s) are
										<strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>

					<!-- profee section-->
					<div class="col-sm-6 col-sm-offset-3 kt-margin-bottom-20-mobile">
						<div class="form-group row">
							<div class="col-md-12 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="PRO Fee Name" formControlName="proFeeName" maxlength="250" />
									<mat-error>
										PRO Fee Name is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										<strong>PRO Fee Name</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-12 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput type="number" placeholder="PRO Fee A1" formControlName="proFeeA1">
									<mat-hint align="start">
										PRO Fee
										<strong>A1</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-12 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput type="number" placeholder="PRO Fee A2" formControlName="proFeeA2">
									<mat-hint align="start">
										PRO Fee
										<strong>A1</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-12 kt-margin-bottom-10-mobile pt-3">
								<mat-form-field class="example-chip-list">
									<mat-chip-list #chipListPro aria-label="Pro fee tags">
										<mat-chip *ngFor="let tag of proFeeTags" [selectable]="selectable"
												  [removable]="removable" (removed)="removeProTag(tag)">
											{{tag}}
											<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
										</mat-chip>
										<input placeholder="Insert tags"
											   [formControlName]="'proFeeTags'"
											   [matChipInputFor]="chipListPro"
											   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
											   [matChipInputAddOnBlur]="addOnBlur"
											   (matChipInputTokenEnd)="addProTag($event)">
									</mat-chip-list>
									<mat-hint align="start">
										Create <strong>Fro Fee Tags </strong> by hitting enter or separated by comma
									</mat-hint>
									<mat-error>
										Pro Fee Tag(s) are
										<strong>required</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="form-group kt-form__group row" *ngIf="viewLoading">
			<div class="col-xl-12 p-5">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>
		</div>
	</div>
</div>
