/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
// header base skins
.kt-header-base-light {
	@import "sass/global/layout/header/skins/base/light.scss";
}
.kt-header-base-dark {
	@import "sass/global/layout/header/skins/base/dark.scss";
}

// header menu skins
.kt-header-menu-light {
	@import "sass/global/layout/header/skins/menu/light.scss";
}
.kt-header-menu-dark {
	@import "sass/global/layout/header/skins/menu/dark.scss";
}

// brand skins
.kt-brand-dark {
	@import "sass/global/layout/brand/skins/dark.scss";
}
.kt-brand-light {
	@import "sass/global/layout/brand/skins/light.scss";
}

// aside skins
.kt-aside-dark {
	@import "sass/global/layout/aside/skins/dark.scss";
}
.kt-aside-light {
	@import "sass/global/layout/aside/skins/light.scss";
}


// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}

.position-static {
	position: static;
}

.display-none{
	display:none;
}

.pull-right{
	float:right;
}
.text-right{
	text-align:right;
}

.ngx-timepicker {
	height: 65% !important;
	
}

.time-picker {
	.mat-hint, .mat-error {
		font-size: 75%;
	}
	
}
.font-500{
	font-weight:500 !important;
}
.cursor-pointer{
	cursor:pointer;
}

.mat-form-field-subscript-wrapper{
	font-size: 90% !important;
}

strong.required-star::after {
	content: "*";
	color: red;
	padding-left: 3px;
	font-weight: 900;
	font-size: 13px;
}

.top-8{
	position:relative !important;
	top: 8px;
}

.font-14 {
	font-size: 14px;
}

.font-15 {
	font-size: 15px;
}

.font-16{
	font-size: 16px;
}
.view-link{
	position:absolute;
	top:1.5em;
}

::ng-deep .theme-dark-blue {
	.bs-datepicker-body {
		table {
			td {
				span.selected {
					background-color: #337ab7 !important;
				}
			}
		}
	}
}
.bg-calendar-current {
	background-color: #afd2f9;

	&:hover, &:focus {
		background-color: #337ab7;
		color:darkslateblue;
	}
}
