<kt-portlet>
	<kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the products list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="generatePdf()" mat-raised-button matTooltip="Invoice to PDF">
				<i class="la la-file-pdf-o"></i>
				<span class="kt-hidden-mobile">Generate PDF</span>
			</a>
			<!--<a href="javascript:;" class="btn kt-margin-r-10" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
				<span class="kt-hidden-mobile"><i class="la la-trash-o"></i> Delete</span>
			</a>-->
			<!--<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
				<mat-icon>more_vert</mat-icon>
			</button>-->
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
				<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body id="invoice-container">
		<div class="table">
			<div class="row">
				<div class="col">
					<img src="../../../../../../assets/media/logos/logo-8-inverse.png" />
					<p class="mt-5 text-capitalize">
						<strong [innerText]="invoice.surName"></strong>
						<strong class="ml-2" [innerText]="invoice.name"></strong>
					</p>
					<p class="mt-2 text-capitalize">
						<strong [innerText]="invoice.homePostCode"></strong>,
						<strong class="ml-2" [innerText]="invoice.city"></strong>
					</p>
					<p class="mt-2 text-capitalize">
						<strong [innerText]="invoice.country"></strong>,

					</p>
				</div>
				<div class="col">
					<p class="text-right"><strong>Medelit ltd.</strong></p>
					<p class="text-right"><strong>74 Victoria Drive</strong></p>
					<p class="text-right"><strong>SW196HL London</strong></p>
					<p class="text-right"><strong>United Kingdom</strong></p>
					<p class="text-right"><strong>Company number: 9455455</strong></p>
					<p class="text-right"><strong>Tel.: +44(0)20.36.37.56.57</strong></p>
					<p class="text-right"><strong>Email: info@medelit.com</strong></p>
					<p class="text-right"><strong>Website: www.medelit.com</strong></p>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="row mb-4 mt-4">
				<div class="col border">
					<h3 class="text-center text-uppercase p-3">Invoice</h3>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col border">
					<div class="row">
						<div class="col pt-2 border-bottom">
							<p><strong>Payment Status: </strong><span [innerText]="invoice.status"></span> </p>
						</div>
						<div class="col border-left border-bottom pt-2">
							<p><strong>Invoice no.: </strong> <span [innerText]="invoice.invoiceNumber"></span></p>
							<p><strong>Date : </strong> <span [innerText]="invoice.dueDate | date: 'MM/dd/yyyy'"></span></p>
							<p><strong>Method of payment : </strong> <span [innerText]="invoice.paymentMethod"></span></p>
							<p><strong>Date of payment : </strong> <span [innerText]="invoice.paymentDue | date: 'MM/dd/yyyy'"></span></p>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col mb-3">
							<h3>Bookings</h3>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Booking Name</th>
										<th>Service Code</th>
										<th>Service Name</th>
										<th>PT Fee (<i class="la la-gbp"></i>)</th>
										<th>Tax Amount (<i class="la la-gbp"></i>)</th>
										<th>Sub Total (<i class="la la-gbp"></i>)</th>
										<th>Gross Total (<i class="la la-gbp"></i>)</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let b of invoice.bookings">
										<td [innerText]="b.name"></td>
										<td [innerText]="b.service.serviceCode"></td>
										<td [innerText]="b.service.name"></td>
										<td [innerText]="b.ptFee"></td>
										<td [innerText]="b.taxAmount"></td>
										<td [innerText]="b.subTotal"></td>
										<td [innerText]="b.grossTotal"></td>
									</tr>
								</tbody>
								<tbody>
									<tr>
										<td colspan="6" class="text-right font-500">Total Due (<i class="la la-gbp"></i>)</td>
										<td class="text-left font-500" [innerText]="invoice.totalInvoice"></td>
									</tr>
								</tbody>

							</table>
						</div>

					</div>

				</div>
			</div>

			<div class="row mt-5">
				<div class="col mb-4">
					<h5 class="">Bank Account Details:</h5>
				</div>
				</div>
			<div class="row">
				<div class="col mt-1">
					<p class="font-500" [innerText]="invoice.bankName"></p>
					<p class="font-500"><strong>Sort Code : </strong><span [innerText]="invoice.sortCode"></span></p>
					<p class="font-500"><strong>Account Number : </strong><span [innerText]="invoice.accountNumber"></span></p>
				</div>
			</div>
		</div>

	</kt-portlet-body>
</kt-portlet>
